section
	.container
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.about-us
					h1 About Us
					p Cannabis is one of the few things that puts us in touch with feelings and emotions that have been a part of the human experience for thousands of years. In an increasingly divided world, it is this shared connection that unites us all. One plant, one planet.
					p At CannCentral, we are committed to bringing cannabis back to its natural, holistic roots. What really matters about cannabis  is how it makes you feel. To this end, content on the site is filtered through the lens of eight distinct vibes that encompass the cannabis experience.
					p Let your feelings guide you through Canncentral’s libraries to find the best cannabis for you. Let your good vibes lead the way as you discover the leading lifestyle destination for cannabis culture, news, entertainment and the arts. See something you like? Subscribe to your favourite vibe(s) to get personalized content delivered to you each week.
					p Through cannabis we are all seeking the same sense of peace and understanding that everything is going to be just fine. Let’s find our way together.
					p Canncentral.com is a Media Central Corporation Inc. (CSE: FLYY, FSE:3AT) property.
