section
	.banner.mini
		.row
			.col-lg-12.col-ld-12.col-sm-12.col-xs-12
					img(src="img/user.jpg", alt="#")
					h1 By CANNCENTRAL EDITOR
	.posts
		.container
			.row
				.col-lg-4.col-ld-4.col-sm-4.col-xs-12
					.item
						ul.meta.dfr
							li
								a(href="#")
									img(src="img/user.jpg", alt="#")
									span BY
									| CANNCENTRALEDITOR
							li April 13, 2020
								i.icon-clock
						a.img(href="#")
							img(src="img/post-1.jpg", alt="")
						ul.tags.dfr
							li
								a(href="#") Business
						a(href="#")
							h3 How to clean a glass cannabis pipe: a step-by-step guide
				.col-lg-4.col-ld-4.col-sm-4.col-xs-12
					.item
						ul.meta.dfr
							li
								a(href="#")
									img(src="img/user.jpg", alt="#")
									span BY
									| CANNCENTRALEDITOR
							li April 13, 2020
								i.icon-clock
						a.img(href="#")
							img(src="img/post-2.jpg", alt="")
						ul.tags.dfr
							li
								a(href="#") Business
							li
								a(href="#") News
						a(href="#")
							h3 How to clean a glass cannabis pipe: a step-by-step guide
				.col-lg-4.col-ld-4.col-sm-4.col-xs-12
					.item
						ul.meta.dfr
							li
								a(href="#")
									img(src="img/user.jpg", alt="#")
									span BY
									| CANNCENTRALEDITOR
							li April 13, 2020
								i.icon-clock
						a.img(href="#")
							img(src="img/post-1.jpg", alt="")
						ul.tags.dfr
							li
								a(href="#") Business
						a(href="#")
							h3 How to clean a glass cannabis pipe: a step-by-step guide
				.col-lg-4.col-ld-4.col-sm-4.col-xs-12
					.item
						ul.meta.dfr
							li
								a(href="#")
									img(src="img/user.jpg", alt="#")
									span BY
									| CANNCENTRALEDITOR
							li April 13, 2020
								i.icon-clock
						a.img(href="#")
							img(src="img/post-2.jpg", alt="")
						ul.tags.dfr
							li
								a(href="#") Business
							li
								a(href="#") News
						a(href="#")
							h3 How to clean a glass cannabis pipe: a step-by-step guide
				.col-lg-4.col-ld-4.col-sm-4.col-xs-12
					.item
						ul.meta.dfr
							li
								a(href="#")
									img(src="img/user.jpg", alt="#")
									span BY
									| CANNCENTRALEDITOR
							li April 13, 2020
								i.icon-clock
						a.img(href="#")
							img(src="img/post-2.jpg", alt="")
						ul.tags.dfr
							li
								a(href="#") Business
							li
								a(href="#") News
						a(href="#")
							h3 How to clean a glass cannabis pipe: a step-by-step guide
				.col-lg-4.col-ld-4.col-sm-4.col-xs-12
					.item
						ul.meta.dfr
							li
								a(href="#")
									img(src="img/user.jpg", alt="#")
									span BY
									| CANNCENTRALEDITOR
							li April 13, 2020
								i.icon-clock
						a.img(href="#")
							img(src="img/post-3.jpg", alt="")
						ul.tags.dfr
							li
								a(href="#") Business
						a(href="#")
							h3 How to clean a glass cannabis pipe: a step-by-step guide
			.row
				.add_wrap
					.col-lg-12.col-ld-12.col-sm-12.col-xs-12
						img(src="img/advertising.jpg", alt="" style="width:100%; max-width:900px;")
			.row
				.col-lg-4.col-ld-4.col-sm-4.col-xs-12
					.item
						ul.meta.dfr
							li
								a(href="#")
									img(src="img/user.jpg", alt="#")
									span BY
									| CANNCENTRALEDITOR
							li April 13, 2020
								i.icon-clock
						a.img(href="#")
							img(src="img/post-1.jpg", alt="")
						ul.tags.dfr
							li
								a(href="#") Business
						a(href="#")
							h3 How to clean a glass cannabis pipe: a step-by-step guide
				.col-lg-4.col-ld-4.col-sm-4.col-xs-12
					.item
						ul.meta.dfr
							li
								a(href="#")
									img(src="img/user.jpg", alt="#")
									span BY
									| CANNCENTRALEDITOR
							li April 13, 2020
								i.icon-clock
						a.img(href="#")
							img(src="img/post-2.jpg", alt="")
						ul.tags.dfr
							li
								a(href="#") Business
							li
								a(href="#") News
						a(href="#")
							h3 How to clean a glass cannabis pipe: a step-by-step guide
				.col-lg-4.col-ld-4.col-sm-4.col-xs-12
					.item
						ul.meta.dfr
							li
								a(href="#")
									img(src="img/user.jpg", alt="#")
									span BY
									| CANNCENTRALEDITOR
							li April 13, 2020
								i.icon-clock
						a.img(href="#")
							img(src="img/post-3.jpg", alt="")
						ul.tags.dfr
							li
								a(href="#") Business
						a(href="#")
							h3 How to clean a glass cannabis pipe: a step-by-step guide
				.col-lg-4.col-ld-4.col-sm-4.col-xs-12
					.item
						ul.meta.dfr
							li
								a(href="#")
									img(src="img/user.jpg", alt="#")
									span BY
									| CANNCENTRALEDITOR
							li April 13, 2020
								i.icon-clock
						a.img(href="#")
							img(src="img/post-1.jpg", alt="")
						ul.tags.dfr
							li
								a(href="#") Business
						a(href="#")
							h3 How to clean a glass cannabis pipe: a step-by-step guide
				.col-lg-4.col-ld-4.col-sm-4.col-xs-12
					.item
						ul.meta.dfr
							li
								a(href="#")
									img(src="img/user.jpg", alt="#")
									span BY
									| CANNCENTRALEDITOR
							li April 13, 2020
								i.icon-clock
						a.img(href="#")
							img(src="img/post-2.jpg", alt="")
						ul.tags.dfr
							li
								a(href="#") Business
							li
								a(href="#") News
						a(href="#")
							h3 How to clean a glass cannabis pipe: a step-by-step guide
				.col-lg-4.col-ld-4.col-sm-4.col-xs-12
					.item
						ul.meta.dfr
							li
								a(href="#")
									img(src="img/user.jpg", alt="#")
									span BY
									| CANNCENTRALEDITOR
							li April 13, 2020
								i.icon-clock
						a.img(href="#")
							img(src="img/post-3.jpg", alt="")
						ul.tags.dfr
							li
								a(href="#") Business
						a(href="#")
							h3 How to clean a glass cannabis pipe: a step-by-step guide
			.row
				.col-lg-12.col-ld-12.col-sm-12.col-xs-12
					.wp-pagenavi
						p Pages:
						a.prevpostslink.icon-arrow-left(href='#')
						span.current 2
						a.page.larger(href='#') 3
						a.page.larger(href='#') 4
						a.page.larger(href='#') 5
						a.page.larger(href='#') 6
						span.extend ...
						a.larger.page(href='#') 10
						a.nextpostslink.icon-arrow-right(href='#')

	.form
		.container
			.row
				.col-lg-12.col-ld-12.col-sm-12.col-xs-12
					#wpcf7-f1338-o1.wpcf7
						form.wpcf7-form
							.subscribe.icon-scissors.dfr
								img(src="img/Subscribe.png", alt="#")
								.description
									h3 The Weekly
										br
										| BuzZzzzzzzz
									p Subscribe to the Weekly Buzz and never miss
										br
										| another marijuana moment!
								.inputs
									.input
										span.wpcf7-form-control-wrap.your-email
											input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email(type='email', name='your-email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='E-mail *')
									.input
										input.wpcf7-form-control.wpcf7-submit.button.purple(type='submit', value='subscribe')
