section
	.container
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.contacts.dfrt
					h1 Contact
					form.wpcf7-form
						.input
							span.wpcf7-form-control-wrap.your-name
								input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required(type='text', name='name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Name')
						.input
							span.wpcf7-form-control-wrap.your-email
								input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email(type='email', name='email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Email')
						.textarea
							span.wpcf7-form-control-wrap.your-message
								textarea.wpcf7-form-control.wpcf7-textarea(name='description', cols='40', rows='10', aria-invalid='false', placeholder='Description')
						.input
							input.wpcf7-form-control.wpcf7-submit.button(type='submit', value='Send')
					.desc
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
