section
	.find
		.container
			.row
				.col-lg-12.col-ld-12.col-sm-12.col-xs-12.dfr
					h2 Find Dispensaries and Clinics Near You
					form
						.dfr
							.radio
								input#canada(type="radio" name="country" checked="checked")
								label(for="canada")
									img(src="img/canada.svg", alt="")
							.radio
								input#usa(type="radio" name="country")
								label(for="usa")
									img(src="img/usa.svg", alt="")
						.dfr
							.radio
								input#dispensary(type="radio" name="dispensary-doctor" checked="checked")
								label(for="dispensary") Dispensary
							.radio
								input#doctor(type="radio" name="dispensary-doctor")
								label(for="doctor") Doctor
						.input
							input(type="text" placeholder="Search by city...")
						.input
							input.button(type="submit" value="Search")
	.banner
		.container-fluid
			.row
				.col-lg-12.col-ld-12.col-sm-12.col-xs-12
					.banner-slider
						.item
							img(src="img/banner.jpg", alt="#")
							.description
								h1 Many Canadians are Open
									br
									| to rying cannabis edibles:
									br
									| report
								p Condensing weed into a brick lowers its quality – as does the jarring it
									br
									| undergoes during illegal transport
								ul.meta.dfr
									li
										a(href="#")
											img(src="img/no-img.svg", alt="#")
											span BY
											| CANNCENTRALEDITOR
									li April 13, 2020
										i.icon-clock
								a.button(href="#") Read More
						.item
							img(src="img/banner.jpg", alt="#")
							.description
								h1 Many Canadians are Open
									br
									| to rying cannabis edibles:
									br
									| report
								p Condensing weed into a brick lowers its quality – as does the jarring it
									br
									| undergoes during illegal transport
								ul.meta.dfr
									li
										a(href="#")
											img(src="img/no-img.svg", alt="#")
											span BY
											| CANNCENTRALEDITOR
									li April 13, 2020
										i.icon-clock
								a.button(href="#") Read More
	.posts
		.container
			.row
				.col-lg-12.col-ld-12.col-sm-12.col-xs-12
					h2.title
						span Trending
		.container
			.row
				.col-lg-4.col-ld-4.col-sm-4.col-xs-12
					.item
						ul.meta.dfr
							li
								a(href="#")
									img(src="img/no-img.svg", alt="#")
									span BY
									| CANNCENTRALEDITOR
							li April 13, 2020
								i.icon-clock
						a.img(href="#")
							img(src="img/post-1.jpg", alt="")
						ul.tags.dfr
							li
								a(href="#") Business
						h3
							a(href="#") How to clean a glass cannabis pipe: a step-by-step guide
				.col-lg-4.col-ld-4.col-sm-4.col-xs-12
					.item
						ul.meta.dfr
							li
								a(href="#")
									img(src="img/user.jpg", alt="#")
									span BY
									| CANNCENTRALEDITOR
							li April 13, 2020
								i.icon-clock
						a.img(href="#")
							img(src="img/post-2.jpg", alt="")
						ul.tags.dfr
							li
								a(href="#") Business
							li
								a(href="#") News
						h3
							a(href="#") How to clean a glass cannabis pipe: a step-by-step guide
				.col-lg-4.col-ld-4.col-sm-4.col-xs-12
					.item
						ul.meta.dfr
							li
								a(href="#")
									img(src="img/no-img.svg", alt="#")
									span BY
									| CANNCENTRALEDITOR
							li April 13, 2020
								i.icon-clock
						a.img(href="#")
							img(src="img/post-3.jpg", alt="")
						ul.tags.dfr
							li
								a(href="#") Business
						h3
							a(href="#") How to clean a glass cannabis pipe: a step-by-step guide
			.row
				.col-lg-12.col-ld-12.col-sm-12.col-xs-12
					.add_wrap
						img(src="img/advertising.jpg", alt="" style="width:100%; max-width:900px;")
			.row
				.col-lg-4.col-ld-4.col-sm-4.col-xs-12
					.item
						ul.meta.dfr
							li
								a(href="#")
									img(src="img/no-img.svg", alt="#")
									span BY
									| CANNCENTRALEDITOR
							li April 13, 2020
								i.icon-clock
						a.img(href="#")
							img(src="img/post-1.jpg", alt="")
						ul.tags.dfr
							li
								a(href="#") Business
						h3
							a(href="#") How to clean a glass cannabis pipe: a step-by-step guide
				.col-lg-4.col-ld-4.col-sm-4.col-xs-12
					.item
						ul.meta.dfr
							li
								a(href="#")
									img(src="img/user.jpg", alt="#")
									span BY
									| CANNCENTRALEDITOR
							li April 13, 2020
								i.icon-clock
						a.img(href="#")
							img(src="img/post-2.jpg", alt="")
						ul.tags.dfr
							li
								a(href="#") Business
							li
								a(href="#") News
						h3
							a(href="#") How to clean a glass cannabis pipe: a step-by-step guide
				.col-lg-4.col-ld-4.col-sm-4.col-xs-12
					.item
						ul.meta.dfr
							li
								a(href="#")
									img(src="img/no-img.svg", alt="#")
									span BY
									| CANNCENTRALEDITOR
							li April 13, 2020
								i.icon-clock
						a.img(href="#")
							img(src="img/post-3.jpg", alt="")
						ul.tags.dfr
							li
								a(href="#") Business
						h3
							a(href="#") How to clean a glass cannabis pipe: a step-by-step guide
	.form
		.container
			.row
				.col-lg-12.col-ld-12.col-sm-12.col-xs-12
					#wpcf7-f1338-o1.wpcf7
						form.wpcf7-form
							.subscribe.icon-scissors.dfr
								img(src="img/Subscribe.png", alt="#")
								.description
									h3 The Weekly
										br
										| BuzZzzzzzzz
									p Subscribe to the Weekly Buzz and never miss
										br
										| another marijuana moment!
								.inputs
									.input
										span.wpcf7-form-control-wrap.your-email
											input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email(type='email', name='your-email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='E-mail *')
									.input
										input.wpcf7-form-control.wpcf7-submit.button.purple(type='submit', value='subscribe')
	.posts.grey
		.container
			.row
				.col-lg-12.col-ld-12.col-sm-12.col-xs-12.dfr
					h2 Featured
					ul.arrows.dfr
						li.icon-left
						li.icon-right
		.container-fluid
			.row
				.col-lg-12.col-ld-12.col-sm-12.col-xs-12
					.items
						.item
							ul.meta.dfr
								li
									a(href="#")
										img(src="img/no-img.svg", alt="#")
										span BY
										| CANNCENTRALEDITOR
								li April 13, 2020
									i.icon-clock
							a.img(href="#")
								img(src="img/post-1.jpg", alt="")
							ul.tags.dfr
								li
									a(href="#") Business
							h3
								a(href="#") How to clean a glass cannabis pipe: a step-by-step guide
						.item
							ul.meta.dfr
								li
									a(href="#")
										img(src="img/user.jpg", alt="#")
										span BY
										| CANNCENTRALEDITOR
								li April 13, 2020
									i.icon-clock
							a.img(href="#")
								img(src="img/post-2.jpg", alt="")
							ul.tags.dfr
								li
									a(href="#") Business
								li
									a(href="#") News
							h3
								a(href="#") How to clean a glass cannabis pipe: a step-by-step guide
						.item
							ul.meta.dfr
								li
									a(href="#")
										img(src="img/no-img.svg", alt="#")
										span BY
										| CANNCENTRALEDITOR
								li April 13, 2020
									i.icon-clock
							a.img(href="#")
								img(src="img/post-3.jpg", alt="")
							ul.tags.dfr
								li
									a(href="#") Business
							h3
								a(href="#") How to clean a glass cannabis pipe: a step-by-step guide
						.item
							ul.meta.dfr
								li
									a(href="#")
										img(src="img/no-img.svg", alt="#")
										span BY
										| CANNCENTRALEDITOR
								li April 13, 2020
									i.icon-clock
							a.img(href="#")
								img(src="img/post-1.jpg", alt="")
							ul.tags.dfr
								li
									a(href="#") Business
							h3
								a(href="#") How to clean a glass cannabis pipe: a step-by-step guide
						.item
							ul.meta.dfr
								li
									a(href="#")
										img(src="img/user.jpg", alt="#")
										span BY
										| CANNCENTRALEDITOR
								li April 13, 2020
									i.icon-clock
							a.img(href="#")
								img(src="img/post-2.jpg", alt="")
							ul.tags.dfr
								li
									a(href="#") Business
								li
									a(href="#") News
							h3
								a(href="#") How to clean a glass cannabis pipe: a step-by-step guide
						.item
							ul.meta.dfr
								li
									a(href="#")
										img(src="img/no-img.svg", alt="#")
										span BY
										| CANNCENTRALEDITOR
								li April 13, 2020
									i.icon-clock
							a.img(href="#")
								img(src="img/post-3.jpg", alt="")
							ul.tags.dfr
								li
									a(href="#") Business
							h3
								a(href="#") How to clean a glass cannabis pipe: a step-by-step guide
	.add_wrap
		.container
			.row
				.col-lg-12.col-ld-12.col-sm-12.col-xs-12
					img(src="img/advertising.jpg", alt="" style="width:100%; max-width:900px;")
	.strains
		.container
			.row
				.col-lg-12.col-ld-12.col-sm-12.col-xs-12
					h2 Explore Cannabis Strains
					.items.dfr
						a.item(href="#" style="color:#f23cfd;")
							.img.icon-turned-on
								img(src="img/chill.png", alt="turned-on")
							h3 Turned On
						a.item(href="#" style="color:#00419a;")
							.img.icon-focused
								img(src="img/creative.png", alt="focused")
							h3 Focused
						a.item(href="#" style="color:#7a48e1;")
							.img.icon-sleepy
								img(src="img/chill.png", alt="sleepy")
							h3 Sleepy
						a.item(href="#" style="color:#01a52a;;")
							.img.icon-chill
								img(src="img/creative.png", alt="chill")
							h3 Chill
						a.item(href="#" style="color:#f3ce00;")
							.img.icon-creative
								img(src="img/chill.png", alt="creative")
							h3 Creative
						a.item(href="#" style="color:#ed171f;")
							.img.icon-higher
								img(src="img/creative.png", alt="higher")
							h3 Higher
						a.item(href="#" style="color:ff7200;")
							.img.icon-energized
								img(src="img/chill.png", alt="energized")
							h3 Energized
						a.item(href="#" style="color:#00bfff;")
							.img.icon-relief
								img(src="img/creative.png", alt="relief")
							h3 Relief
					a.button(href="#") Explore Strains
	.form.grey
		.container
			.row
				.col-lg-12.col-ld-12.col-sm-12.col-xs-12
					#wpcf7-f1338-o1.wpcf7
						form.wpcf7-form
							.subscribe.icon-scissors.dfr
								img(src="img/Subscribe.png", alt="#")
								.description
									h3 The Weekly
										br
										| BuzZzzzzzzz
									p Subscribe to the Weekly Buzz and never miss
										br
										| another marijuana moment!
								.inputs
									.input
										span.wpcf7-form-control-wrap.your-email
											input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email(type='email', name='your-email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='E-mail *')
									.input
										input.wpcf7-form-control.wpcf7-submit.button.purple(type='submit', value='subscribe')
