section.jwa-map-list
	.dispensaries
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					form.filters.dfr
						.search
							input(type="search", placeholder="Canada Edmonton")
							button.icon-search
						.checkbox-button
							input#doctors-button(type="checkbox")
							label.icon-doctors(for="doctors-button") Doctors
						.checkbox-button
							input#dispensaries-button(type="checkbox")
							label.icon-plus(for="dispensaries-button") Dispensaries
						.checkbox-button
							input#order-online-button(type="checkbox")
							label(for="order-online-button") Order Online
						.checkbox-button
							input#open-now-button(type="checkbox")
							label(for="open-now-button") Open Now
						.checkbox-button
							input#photos-button(type="checkbox")
							label(for="photos-button") Photos
						.select
							p.icon-filters Filters
							ul.select-options
								li
									.checkbox
										input#doctors(type="checkbox")
										label.icon-check-mark(for="doctors") Doctors
								li
									.checkbox
										input#dispensaries(type="checkbox")
										label.icon-check-mark(for="dispensaries") Dispensaries
								li
									.checkbox
										input#delivery(type="checkbox")
										label.icon-check-mark(for="delivery") Delivery
								li
									.checkbox
										input#mail-order(type="checkbox")
										label.icon-check-mark(for="mail-order") Mail Order
								li
									.checkbox
										input#order-online(type="checkbox")
										label.icon-check-mark(for="order-online") Order Online
								li
									.checkbox
										input#open-now(type="checkbox")
										label.icon-check-mark(for="open-now") Open Now
								li
									.checkbox
										input#photos(type="checkbox")
										label.icon-check-mark(for="photos") Photos
							.select-options.mobile
								ul.nav-tabs.dfr
									li.active
										a(href='#filters', data-toggle='tab') Filters
									li
										a(href='#sort', data-toggle='tab') Sort
								.tab-content
									#filters.tab-pane.active
										.checkbox.icon-doctors
											input#doctors-mob(type="checkbox")
											label(for="doctors-mob") Doctors
										.checkbox.icon-plus
											input#dispensaries-mob(type="checkbox")
											label(for="dispensaries-mob") Dispensaries
										.checkbox
											input#delivery-mob(type="checkbox")
											label(for="delivery-mob") Delivery
										.checkbox
											input#mail-order-mob(type="checkbox")
											label(for="mail-order-mob") Mail Order
										.checkbox
											input#order-online-mob(type="checkbox")
											label(for="order-online-mob") Order Online
										.checkbox
											input#open-now-mob(type="checkbox")
											label(for="open-now-mob") Open Now
										.checkbox
											input#photos-mob(type="checkbox")
											label(for="photos-mob") Photos
									#sort.tab-pane
										.radio-button
											input#popular(type="radio" name="sort")
											label(for="popular") By Popular
										.radio-button
											input#rating(type="radio" name="sort")
											label(for="rating") By Rating
										.radio-button
											input#a-z(type="radio" name="sort")
											label(for="a-z") Name A-Z
										.radio-button
											input#z-a(type="radio" name="sort")
											label(for="z-a") Name Z-A
								input.button(type="submit" value="Apply Filters")
					.map-block
						#map(data-lat="43.646593" data-lng="-79.434627")
						.results
							.results-block
								.results-head.dfr
									p Showing Results 1-100
									.sort-filter
										a.icon-up(href="#") By Rating
										ul
											li
												a(href="#") By Popular
											li
												a(href="#") By Rating
											li
												a(href="#") Name A-Z
											li
												a(href="#") Name Z-A
								.results-body
									.item.dfr(data-lat="43.646593" data-lng="-79.434627" data-type="doctors-marker")
										img(src="img/no-image.jpg", alt="")
										.description
											h3 Central Cannabis
											p.address 1255 Bay Street, Unit #702 Toronto, Ontario
											.rating.dfr
												ul.dfr(data-rating="4")
													li.icon-star
													li.icon-star
													li.icon-star
													li.icon-star
													li.icon-star
												p (131 reviews)
											p.status.icon-clock Open until
												span 6:00PM
									.item.dfr(data-lat="43.645801" data-lng="-79.425615" data-type="dispensaries-marker")
										img(src="img/central.jpg", alt="")
										.description
											h3 Central Cannabis
											p.address 1255 Bay Street, Unit #702 Toronto, Ontario
											.rating.dfr
												ul.dfr(data-rating="3")
													li.icon-star
													li.icon-star
													li.icon-star
													li.icon-star
													li.icon-star
												p (131 reviews)
											p.status.icon-hourglass Coming Soon
									.item.dfr(data-lat="43.645188" data-lng="-79.419242" data-type="doctors-marker")
										img(src="img/no-image.jpg", alt="")
										.description
											h3 Central Cannabis
											p.address 1255 Bay Street, Unit #702 Toronto, Ontario
											.rating.dfr
												ul.dfr(data-rating="5")
													li.icon-star
													li.icon-star
													li.icon-star
													li.icon-star
													li.icon-star
												p (131 reviews)
											p.status.icon-lock Permanently Closed
									.item.dfr(data-lat="43.643519" data-lng="-79.422546"  data-type="dispensaries-marker")
										img(src="img/no-image.jpg", alt="")
										.description
											h3 Central Cannabis
											p.address 1255 Bay Street, Unit #702 Toronto, Ontario
											.rating.dfr
												ul.dfr(data-rating="4")
													li.icon-star
													li.icon-star
													li.icon-star
													li.icon-star
													li.icon-star
												p (131 reviews)
											p.status.icon-clock Open until
												span 6:00PM
									.item.dfr(data-lat="43.641089" data-lng="-79.416549" data-type="doctors-marker")
										img(src="img/no-image.jpg", alt="")
										.description
											h3 Central Cannabis
											p.address 1255 Bay Street, Unit #702 Toronto, Ontario
											.rating.dfr
												ul.dfr(data-rating="3")
													li.icon-star
													li.icon-star
													li.icon-star
													li.icon-star
													li.icon-star
												p (131 reviews)
											p.status.icon-hourglass Coming Soon
												span
									.item.dfr(data-lat="43.640190" data-lng="-79.427504"  data-type="dispensaries-marker")
										img(src="img/no-image.jpg", alt="")
										.description
											h3 Central Cannabis
											p.address 1255 Bay Street, Unit #702 Toronto, Ontario
											.rating.dfr
												ul.dfr(data-rating="3")
													li.icon-star
													li.icon-star
													li.icon-star
													li.icon-star
													li.icon-star
												p (131 reviews)
											p.status.icon-lock Permanently Closed
							.results-dispensaries
								.results-head.dfr
									a.icon-arrow-left.back(href="#") Back to Results
								.results-description.dfr
									img(src="img/no-image.jpg", alt="")
									.description
										h3 Central Cannabis
										p.address 1255 Bay Street, Unit #702 Toronto, Ontario
										.rating.dfr
											ul.dfr(data-rating="3")
												li.icon-star
												li.icon-star
												li.icon-star
												li.icon-star
												li.icon-star
											p (131 reviews)
										p.status.icon-lock Permanently Closed
									h3 Business Hours
									ul.business-hours
										li Monday
											span 9:00am-6:00pm
										li Tuesday
											span 9:00am-6:00pm
										li
											strong Wednesday
												span 9:00am-6:00pm
										li Thursday
											span 9:00am-6:00pm
										li Friday
											span 9:00am-6:00pm
										li Saturday
											span Closed
										li Sunday
											span Closed
									.buttons.dfr
										a.button(href="#") More Info
										a.button.get-directions(href="#") Get Directions
