section
	.forgot-pass
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.forgot-pass-form
						form
							h3 Enter your email to reset password
							.input
								label Email
								input(type="email")
							.input
								input.button(type="submit" value="Send Password")
