section
	.log-in
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.log-in-form
						form
							h3 Log in
							.input
								label Email
								input(type="email")
							.input
								label Password
								input(type="password")
							.input
								input.button(type="submit" value="Login")
							a(href="#") Forgot Password?
							p Dont Have an account?
								a(href="#") Sign Up
							.soc
								h4 social media sign up plugin
								ul
									li
										a(href="#")
											img(src="img/google-logo.svg", alt="")
									li
										a(href="#")
											img(src="img/facebook-logo.svg", alt="")
									li
										a(href="#")
											img(src="img/twitter-logo.svg", alt="")
