.right-sidebar
	.top-users
		h3 Top 10 UGC Users
		ol
			li
				a.photo(href="#")
					img(src="img/photo.jpg", alt="")
				.desc
					h3.name
						a(href="#") David Lebovskiy
							span 15,520 Pts
			li
				a.photo(href="#")
					img(src="img/photo.jpg", alt="")
				.desc
					h3.name
						a(href="#") Beth Hawkins
							span 15,520 Pts
			li
				a.photo(href="#")
					img(src="img/photo.jpg", alt="")
				.desc
					h3.name
						a(href="#") Gregory Watson
							span 15,520 Pts
			li
				a.photo(href="#")
					img(src="img/photo.jpg", alt="")
				.desc
					h3.name
						a(href="#") Shawn Cooper
							span 15,520 Pts
			li
				a.photo(href="#")
					img(src="img/photo.jpg", alt="")
				.desc
					h3.name
						a(href="#") Bessie Russell
							span 15,520 Pts
			li
				a.photo(href="#")
					img(src="img/photo.jpg", alt="")
				.desc
					h3.name
						a(href="#") Ronald Mccoy
							span 15,520 Pts
			li
				a.photo(href="#")
					img(src="img/photo.jpg", alt="")
				.desc
					h3.name
						a(href="#") Albert Henry
							span 15,520 Pts
			li
				a.photo(href="#")
					img(src="img/photo.jpg", alt="")
				.desc
					h3.name
						a(href="#") Jorge Black
							span 15,520 Pts
			li
				a.photo(href="#")
					img(src="img/photo.jpg", alt="")
				.desc
					h3.name
						a(href="#") Esther Williamson
							span 15,520 Pts
			li
				a.photo(href="#")
					img(src="img/photo.jpg", alt="")
				.desc
					h3.name
						a(href="#") Diane Simmmons
							span 15,520 Pts
			li
				a.photo(href="#")
					img(src="img/photo.jpg", alt="")
				.desc
					h3.name
						a(href="#") Johnatan Pigeontius
							span 15,520 Pts
		.user(data-numbering="535")
			a.photo(href="#")
				img(src="img/photo.jpg", alt="")
			.desc
				h3.name
					a(href="#") Diane Simmmons
						span 15,520 Pts
