section
	.search-top
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.search
						input(type="text" placeholder="Enter What You Are Looking For")
						button.icon-search
					ul.search-filter.dfr
						li.active
							a(href="#") All
						li
							a(href="#") EDITORIAL
						li
							a(href="#") Strains
						li
							a(href="#") Dispensaries
						li
							a(href="#") Encycloweedia
						li
							a(href="#") Events
	.search-results
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					p.results page 1 of 430 results
					ul.items
						li.icon.dfr
							img(src="icons/encycloweedia.svg", alt="")
							.description
								h3 When your fall cold hits (soon), should you smoke weed?
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							a.link(href="#")
						li.icon.dfr
							img(src="icons/marker.svg", alt="")
							.description
								h3 When your fall cold hits (soon), should you smoke weed?
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							a.link(href="#")
						li.icon.dfr
							img(src="icons/sleepy.svg", alt="")
							.description
								h3 When your fall cold hits (soon), should you smoke weed?
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
							a.link(href="#")
						li.icon.dfr
							img(src="icons/sleepy.svg", alt="")
							.description
								h3 When your fall cold hits (soon), should you smoke weed?
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
							a.link(href="#")
						li.photo.dfr
							img(src="img/category.jpg", alt="")
							.description
								h3 When your fall cold hits (soon), should you smoke weed?
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								ul.meta.dfr
									li
										a(href="#")
											span BY
											| CANNCENTRALEDITOR
									li April 13, 2020
										i.icon-clock
							a.link(href="#")
						li.photo.dfr
							img(src="img/category.jpg", alt="")
							.description
								h3 When your fall cold hits (soon), should you smoke weed?
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								ul.meta.dfr
									li
										a(href="#")
											span BY
											| CANNCENTRALEDITOR
									li April 13, 2020
										i.icon-clock
							a.link(href="#")
						li.photo.dfr
							img(src="img/category.jpg", alt="")
							.description
								h3 When your fall cold hits (soon), should you smoke weed?
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								ul.meta.dfr
									li
										a(href="#")
											span BY
											| CANNCENTRALEDITOR
									li April 13, 2020
										i.icon-clock
							a.link(href="#")
					.wp-pagenavi
						p Pages:
						a.prevpostslink.icon-arrow-left(href='#')
						span.current 2
						a.page.larger(href='#') 3
						a.page.larger(href='#') 4
						a.page.larger(href='#') 5
						a.page.larger(href='#') 6
						span.extend ...
						a.larger.page(href='#') 10
						a.nextpostslink.icon-arrow-right(href='#')
