section
	.strains-banner(style="background-color:#7A48E1; background-image:url(img/indica.svg);")
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.breadcrumbs
						span
							a.home(href="#") Home Page
						span
							a(href="#") Strains
						span
							a(href="#") Indica
						span Alaskin Thunderfuck (Extra Large)
					img(src="img/kings-primary.jpg", alt="")
					h1 Alaskin Thunderfuck
						br
						| (Extra Large)
					.rating.dfr
						ul.dfr(data-rating="4")
							li.icon-star
							li.icon-star
							li.icon-star
							li.icon-star
							li.icon-star
						p (131 reviews)
	.strains-inner
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12.dfrt
					.content
						.description
							.text
								h2 About Alaskin Thunderfuck (Extra Large)
								p.more(data-more="1000") The strain that’s named after the best kind of dream, a wet one. Wet Dream from San Diego California is a sativa dominant cross of Blue Dream x Ocean Beach Haze. This strain is designed for late-night enjoyment and arousal but is also great for daytime use and creative tasks. Wet Dream has an intoxicating aroma of lemongrass coupled with a soft woody pine flavor. Most Haze blends create rushing waves of euphoria, but the genetics of the Blue Dream in this cross help to mellow out some of those effects.
									br
									br
									| The Wet Dream Sativa strain is a well-known marijuana strain that gives smokers an incredible and unmatched euphoric energy. This is a great strain for when you just need some good vibes. The cannabis strain’s provocative name is actually a nod to its genetics. The Wet Dreams strain is a mixture of the ubiquitous cannabis hybrid strain Blue Dream and Ocean Beach Haze that hails from California. In this Wet Dream strain review, we will go into the mental effects that this strain is famous for then look into some of the medical benefits for medical cannabis patients.
									br
									br
									| The strain that’s named after the best kind of dream, a wet one. Wet Dream from San Diego California is a sativa dominant cross of Blue Dream x Ocean Beach Haze. This strain is designed for late-night enjoyment and arousal but is also great for daytime use and creative tasks. Wet Dream has an intoxicating aroma of lemongrass coupled with a soft woody pine flavor. Most Haze blends create rushing waves of euphoria, but the genetics of the Blue Dream in this cross help to mellow out some of those effects.
									br
									br
									| The Wet Dream Sativa strain is a well-known marijuana strain that gives smokers an incredible and unmatched euphoric energy. This is a great strain for when you just need some good vibes. The cannabis strain’s provocative name is actually a nod to its genetics. The Wet Dreams strain is a mixture of the ubiquitous cannabis hybrid strain Blue Dream and Ocean Beach Haze that hails from California. In this Wet Dream strain review, we will go into the mental effects that this strain is famous for then look into some of the medical benefits for medical cannabis patients.
									br
									br
									| The strain that’s named after the best kind of dream, a wet one. Wet Dream from San Diego California is a sativa dominant cross of Blue Dream x Ocean Beach Haze. This strain is designed for late-night enjoyment and arousal but is also great for daytime use and creative tasks. Wet Dream has an intoxicating aroma of lemongrass coupled with a soft woody pine flavor. Most Haze blends create rushing waves of euphoria, but the genetics of the Blue Dream in this cross help to mellow out some of those effects.
									br
									br
									| The Wet Dream Sativa strain is a well-known marijuana strain that gives smokers an incredible and unmatched euphoric energy. This is a great strain for when you just need some good vibes. The cannabis strain’s provocative name is actually a nod to its genetics. The Wet Dreams strain is a mixture of the ubiquitous cannabis hybrid strain Blue Dream and Ocean Beach Haze that hails from California. In this Wet Dream strain review, we will go into the mental effects that this strain is famous for then look into some of the medical benefits for medical cannabis patients....
						.gallery.dfr
							h3 Photos
							.add-file
								input#add-file(type="file")
								label(for="add-file") +Add Photo
							.gallery-items
								img(src="img/kings-primary.jpg", alt="")
								img(src="img/kings-primary-2.jpg", alt="")
								img(src="img/kings-primary-3.jpg", alt="")
								img(src="img/kings-primary.jpg", alt="")
								img(src="img/kings-primary-2.jpg", alt="")
								img(src="img/kings-primary-3.jpg", alt="")
								img(src="img/kings-primary.jpg", alt="")
								img(src="img/kings-primary-2.jpg", alt="")
							a.view-more(href="#") View More
						.comment_block
							#respond.comment-respond
								h3#reply-title.comment-reply-title Leave Your Review
									small
										a#cancel-comment-reply-link(rel='nofollow', href='#') Cancel reply
								form#comment_form.comment-form
									img.avatar(src="img/user.jpg", alt="")
									p.comment-form-author
										label Name
										input(type="text")
									p.comment-form-email
										label Email
										input(type="text" )
									p.comment-form-comment
										textarea#comment(placeholder="Comment...")
									p.comment-form-cookies-consent
										input#save(type="checkbox")
										label(for="save") Save my name, email, and website in this browser for the next time I comment.
									p.form-submit
										input#submit.submit(type='submit', value='Submit')
							.review
								h2 Reviews
									span (321)
								ul.comments-list
									li#li-comment-113.comment.even.thread-even.depth-1
										#comment-113
											.comment_block
												.comment-author.vcard
													img.avatar(src="img/user.jpg", alt="#")
													cite.fn Robin
													span.says
													span.time.icon-clock October 17, 2019 02:04 PM
												.comment_text
													p
														| Where is the brownie recipe
														br
														|  You only gave how to make butter and oils
												ul.sympathy
													li
														a.icon-top(href="#") 23
													li
														a.icon-bottom(href="#") 151
												.reply
													a.comment-reply-link(href="#") Reply
												.clear
										ul.children
											li#li-comment-114.comment.odd.alt.depth-2
												#comment-114
													.comment_block
														.comment-author.vcard
															img.avatar(src="img/no-img.svg", alt="#")
															cite.fn Scott Heron
															span.says
															span.time.icon-clock October 17, 2019 03:03 PM
															.comment-meta.commentmetadata
																a(href='#')
														.comment_text
															p
																strong Hey Robin,
																| Great question! The benefit of knowing how to make butter and oil, is that you can use these in any recipe to infuse them with cannabis. If you’d like to make cannabis-infused brownies, take your favourite brownie recipe and replace the regular butter with the cannabis infused butter.
														ul.sympathy
															li
																a.icon-top(href="#") 12
															li
																a.icon-bottom(href="#") 23
														.reply
															a.comment-reply-link(href="#") Reply
											li#li-comment-114.comment.odd.alt.depth-2
												#comment-114
													.comment_block
														.comment-author.vcard
															img.avatar(src="img/user.jpg", alt="#")
															cite.fn Robin
															span.says
															span.time.icon-clock October 17, 2019 03:03 PM
															.comment-meta.commentmetadata
																a(href='#')
														.comment_text
															p
																strong Hey Scott Heron,
																|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A iste nostrum minus voluptatum eveniet tempore facere temporibus dolore fuga magni eum, veritatis? Modi autem voluptatem doloremque, accusamus unde, accusantium quos maiores reprehenderit ab quas error, necessitatibus excepturi ipsam vel magni facilis, sed impedit assumenda. Natus molestias quaerat fuga blanditiis atque.
														ul.sympathy
															li
																a.icon-top(href="#") 12
															li
																a.icon-bottom(href="#") 23
														.reply
															a.comment-reply-link(href="#") Reply
														.reply-comment
															img.avatar(src="img/user.jpg", alt="#")
															.textarea
																textarea(placeholder="Comment")
															button.button(type="submit") Send
									li#li-comment-113.comment.even.thread-even.depth-1
										#comment-113
											.comment_block
												.comment-author.vcard
													img.avatar(src="img/user.jpg", alt="#")
													cite.fn Robin
													span.says
													span.time.icon-clock October 17, 2019 02:04 PM
												.comment_text
													p
														| Where is the brownie recipe
														br
														|  You only gave how to make butter and oils
												ul.sympathy
													li
														a.icon-top(href="#") 23
													li
														a.icon-bottom(href="#") 151
												.reply
													a.comment-reply-link(href="#") Reply
												.clear
					.sidebar
						.block
							ul.nav-tabs.dfr
								li.active
									a(href='#effects', data-toggle='tab') Effects
								li
									a(href='#flavour', data-toggle='tab') Flavour
								li
									a(href='#negatives', data-toggle='tab') Negatives
								li
									a(href='#medical', data-toggle='tab') Medical
							.tab-content
								#effects.tab-pane.active
									a.item(href='#', style='color:#01a52a;')
										i.icon-chill
										p Chill
									a.item(href='#', style='color:#f3ce00;')
										i.icon-creative
										p Creative
									a.item(href='#', style='color:#ff7200;')
										i.icon-energized
										p Energized
									a.item(href='#', style='color:#00419a;')
										i.icon-focused
										p Focused
									a.item(href='#', style='color:#ed171f;')
										i.icon-higher
										p Higher
									a.item(href='#', style='color:#00bfff;')
										i.icon-relief
										p Relief
									a.item(href='#', style='color:#7a48e1;')
										i.icon-sleepy
										p Sleepy
									a.item(href='#', style='color:#f23cfd;')
										i.icon-turned-on
										p Turned ON
								#flavour.tab-pane
									a.item(href='#' style='color:#337D95;')
										i.icon-ammonia
										p Ammonia
									a.item(href='#' style='color:#B20800;')
										i.icon-apple
										p Apple
									a.item(href='#' style='color:#F9B88F;')
										i.icon-apricot
										p Apricot
									a.item(href='#' style='color:#e15757;')
										i.icon-berry
										p Berry
									a.item(href='#' style='color:#204D42;')
										i.icon-blue-cheese
										p Blue cheese
									a.item(href='#' style='color:#163869;')
										i.icon-blueberry
										p Blueberry
									a.item(href='#' style='color:#FFDD37;')
										i.icon-butter
										p Butter
									a.item(href='#' style='color:#F6D48A;')
										i.icon-cheese
										p Cheese
									a.item(href='#' style='color:#00F253;')
										i.icon-chemical
										p Chemical
									a.item(href='#' style='color:#FC5123;')
										i.icon-chestnut
										p Chestnut
									a.item(href='#' style='color:#A25520;')
										i.icon-citrus
										p Citrus
									a.item(href='#' style='color:#431F08;')
										i.icon-coffee
										p Coffee
									a.item(href='#' style='color:#A1EC50;')
										i.icon-diesel
										p Diesel
									a.item(href='#' style='color:#4C9600;')
										i.icon-earthy
										p Earthy
									a.item(href='#' style='color:#F8BBD6;')
										i.icon-flowery
										p Flowery
									a.item(href='#' style='color:#9354C5;')
										i.icon-grape
										p Grape
									a.item(href='#' style='color:#EE403D;')
										i.icon-grapefruit
										p Grapefruit
									a.item(href='#' style='color:#F69D16;')
										i.icon-honey
										p Honey
									a.item(href='#' style='color:#ABA2E0;')
										i.icon-lavender
										p Lavender
									a.item(href='#' style='color:#FDE616;')
										i.icon-lemon
										p Lemon
									a.item(href='#' style='color:#C7DB5D;')
										i.icon-lime
										p Lime
									a.item(href='#' style='color:#FFB523;')
										i.icon-mango
										p Mango
									a.item(href='#' style='color:#5DBC81;')
										i.icon-menthol
										p Menthol
									a.item(href='#' style='color:#52986F;')
										i.icon-mint
										p Mint
									a.item(href='#' style='color:#CA7933;')
										i.icon-nutty
										p Nutty
									a.item(href='#' style='color:#F48120;')
										i.icon-orange
										p Orange
									a.item(href='#' style='color:#FFA582;')
										i.icon-peach
										p Peach
									a.item(href='#' style='color:#E3E600;')
										i.icon-pear
										p Pear
									a.item(href='#' style='color:#6B463A;')
										i.icon-pepper
										p Pepper
									a.item(href='#' style='color:#677A4B;')
										i.icon-pine
										p Pine
									a.item(href='#' style='color:#D16800;')
										i.icon-pineapple
										p Pineapple
									a.item(href='#' style='color:#733266;')
										i.icon-plum
										p Plum
									a.item(href='#' style='color:#B3C646;')
										i.icon-pungent
										p Pungent
									a.item(href='#' style='color:#C91543;')
										i.icon-rose
										p Rose
									a.item(href='#' style='color:#8DAA7E;')
										i.icon-sage
										p Sage
									a.item(href='#' style='color:#C8C900;')
										i.icon-skunk
										p Skunk
									a.item(href='#' style='color:#DA0000;')
										i.icon-spicy
										p Spicy
									a.item(href='#' style='color:#FF0000;')
										i.icon-strawberry
										p Strawberry
									a.item(href='#' style='color:#EB4B6E;')
										i.icon-sweet
										p Sweet
									a.item(href='#' style='color:#000000;')
										i.icon-tar
										p Tar
									a.item(href='#' style='color:#E0B464;')
										i.icon-tea
										p Tea
									a.item(href='#' style='color:#72190F;')
										i.icon-tobacco
										p Tobacco
									a.item(href='#' style='color:#f23cfd;')
										i.icon-tree-fruit
										p Tree Fruit
									a.item(href='#' style='color:#FF2347;')
										i.icon-tropical
										p Tropical
									a.item(href='#' style='color:#FFBC8A;')
										i.icon-vanilla
										p Vanilla
									a.item(href='#' style='color:#62052D;')
										i.icon-violet
										p Violet
									a.item(href='#' style='color:#885729;')
										i.icon-woody
										p Woody
								#negatives.tab-pane
									a.item(href="#")
										i.icon-anxious
										p Anxious
									a.item(href="#")
										i.icon-dizzy
										p Dizzy
									a.item(href="#")
										i.icon-dry-eyes
										p Dry Eyes
									a.item(href="#")
										i.icon-dry-mouth
										p Dry Mouth
									a.item(href="#")
										i.icon-paranoid
										p Paranoid
									a.item(href="#")
										i.icon-cramps
										p Cramps
									a.item(href="#")
										i.icon-spasticity
										p Spasticity
									a.item(href="#")
										i.icon-siezures
										p Siezures
									a.item(href="#")
										i.icon-fatigue
										p Fatigue
									a.item(href="#")
										i.icon-eye-pressure
										p Eye Pressure
									a.item(href="#")
										i.icon-nausea
										p Nausea
									a.item(href="#")
										i.icon-stress
										p Stress
									a.item(href="#")
										i.icon-body-pain
										p Body Pain
									a.item(href="#")
										i.icon-paranoid
										p Paranoid
									a.item(href="#")
										i.icon-depression
										p Deppression
									a.item(href="#")
										i.icon-headaches
										p Headaches
									a.item(href="#")
										i.icon-inflamation
										p Inflamation
									a.item(href="#")
										i.icon-insomnia
										p Insomnia
									a.item(href="#")
										i.icon-lack-of-appitite
										p Lack of Appitite
									a.item(href="#")
										i.icon-muscle-spasms
										p Muscle Spasms
								#medical.tab-pane
									a.item(href="#")
										i.icon-anxious
										p Anxious
									a.item(href="#")
										i.icon-dizzy
										p Dizzy
									a.item(href="#")
										i.icon-dry-eyes
										p Dry Eyes
									a.item(href="#")
										i.icon-dry-mouth
										p Dry Mouth
									a.item(href="#")
										i.icon-paranoid
										p Paranoid
									a.item(href="#")
										i.icon-cramps
										p Cramps
									a.item(href="#")
										i.icon-spasticity
										p Spasticity
									a.item(href="#")
										i.icon-siezures
										p Siezures
									a.item(href="#")
										i.icon-fatigue
										p Fatigue
									a.item(href="#")
										i.icon-eye-pressure
										p Eye Pressure
									a.item(href="#")
										i.icon-nausea
										p Nausea
									a.item(href="#")
										i.icon-stress
										p Stress
									a.item(href="#")
										i.icon-body-pain
										p Body Pain
									a.item(href="#")
										i.icon-paranoid
										p Paranoid
									a.item(href="#")
										i.icon-depression
										p Deppression
									a.item(href="#")
										i.icon-headaches
										p Headaches
									a.item(href="#")
										i.icon-inflamation
										p Inflamation
									a.item(href="#")
										i.icon-insomnia
										p Insomnia
									a.item(href="#")
										i.icon-lack-of-appitite
										p Lack of Appitite
									a.item(href="#")
										i.icon-muscle-spasms
										p Muscle Spasms
						.block
							img(src="img/map-search.svg", alt="#")
							h4 Find Where to Buy
								span Alaskin
									br
									| Thunderfuck (Extra Large)
								| Near Me
						.block
							h3 sdf
							.items.dfr
								a.item(href='#' style="color:#7A48E1;")
									i.icon-indica
									p Indica Strains
								a.item(href='#' style="color:#FF7200;")
									i.icon-hybrid
									p Hybrid Strains
								a.item(href='#' style="color:#01A52A;")
									i.icon-sativa
									p Sativa Strains
							a(href="#") See Full List of Strains
						.block
							img(src="img/cannabis.svg", alt="#")
							h3 Explore Strains
	.strains
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h3 Similar items
					.strains-items.dfr
						.strains-item(style="color:#7A48E1;")
							a.link(href="#")
							p.type(style="background-color:#7A48E1;") Indica
							img(src="img/kings-primary.jpg", alt="")
							h3 Alaskin Thunderfuck (Extra Large)
							.rating.dfr
								ul.dfr(data-rating="4")
									li.icon-star
									li.icon-star
									li.icon-star
									li.icon-star
									li.icon-star
								p (131 reviews)
							ul.meta.dfr
								li.icon-pictures 123
								li.icon-views 11,523
						.strains-item(style="color:#7A48E1;")
							a.link(href="#")
							p.type(style="background-color:#7A48E1;") Indica
							img(src="img/kings-primary-2.jpg", alt="")
							h3 Alaskin Thunderfuck (Extra Large)
							.rating.dfr
								ul.dfr(data-rating="4")
									li.icon-star
									li.icon-star
									li.icon-star
									li.icon-star
									li.icon-star
								p (131 reviews)
							ul.meta.dfr
								li.icon-pictures 123
								li.icon-views 11,523
						.strains-item(style="color:#7A48E1;")
							a.link(href="#")
							p.type(style="background-color:#7A48E1;") Indica
							img(src="img/kings-primary-3.jpg", alt="")
							h3 Alaskin Thunderfuck (Extra Large)
							.rating.dfr
								ul.dfr(data-rating="4")
									li.icon-star
									li.icon-star
									li.icon-star
									li.icon-star
									li.icon-star
								p (131 reviews)
							ul.meta.dfr
								li.icon-pictures 123
								li.icon-views 11,523
						.strains-item.more(style="color:#7A48E1;")
							a.link(href="#")
							i.icon-indica
							h3 More Indica Strains
