section
	.banner.mini
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h1 Explore Strains
	.strains
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12.dfrt
					.sidebar
						.filter
							.dropdown
								p.title.icon-down Type
								ul
									li
										.checkbox
											input#all-type(type="checkbox")
											label.icon-check-mark(for="all-type") All
									li
										.checkbox
											input#hybrid(type="checkbox")
											label.icon-check-mark(for="hybrid") Hybrid
									li
										.checkbox
											input#indica(type="checkbox")
											label.icon-check-mark(for="indica") Indica
									li
										.checkbox
											input#sativa(type="checkbox")
											label.icon-check-mark(for="sativa") Sativa
							.dropdown
								p.title.icon-down Vibes
								ul
									li
										.checkbox
											input#all-vibes(type="checkbox")
											label.icon-check-mark(for="all-vibes") All
									li
										.checkbox
											input#vibes-chill(type="checkbox")
											label.icon-check-mark(for="vibes-chill") Chill
									li
										.checkbox
											input#vibes-creative(type="checkbox")
											label.icon-check-mark(for="vibes-creative") Creative
									li
										.checkbox
											input#vibes-energized(type="checkbox")
											label.icon-check-mark(for="vibes-energized") Energized
									li
										.checkbox
											input#vibes-focused(type="checkbox")
											label.icon-check-mark(for="vibes-focused") Focused
									li
										.checkbox
											input#vibes-higher(type="checkbox")
											label.icon-check-mark(for="vibes-higher") Higher
									li
										.checkbox
											input#vibes-sleepy(type="checkbox")
											label.icon-check-mark(for="vibes-sleepy") Sleepy
									li
										.checkbox
											input#vibes-turned-on(type="checkbox")
											label.icon-check-mark(for="vibes-turned-on") Turned On
									li
										.checkbox
											input#vibes-relief(type="checkbox")
											label.icon-check-mark(for="vibes-relief") Relief
							.dropdown
								p.title.icon-down Medical
								ul
									li
										.checkbox
											input#all-medical(type="checkbox")
											label.icon-check-mark(for="all-medical") All
									li
										.checkbox
											input#medical-body-pain(type="checkbox")
											label.icon-check-mark(for="medical-body-pain") Body Pain
									li
										.checkbox
											input#medical-cramps(type="checkbox")
											label.icon-check-mark(for="medical-cramps") Cramps
									li
										.checkbox
											input#medical-depression(type="checkbox")
											label.icon-check-mark(for="medical-depression") Depression
									li
										.checkbox
											input#medical-eye-pressure(type="checkbox")
											label.icon-check-mark(for="medical-eye-pressure") Eye Pressure
									li
										.checkbox
											input#medical-fatigue(type="checkbox")
											label.icon-check-mark(for="medical-fatigue") Fatigue
									li
										.checkbox
											input#medical-headaches(type="checkbox")
											label.icon-check-mark(for="medical-headaches") Headaches
									li
										.checkbox
											input#medical-inflammation(type="checkbox")
											label.icon-check-mark(for="medical-inflammation") Inflammation
									li
										.checkbox
											input#medical-insomnia(type="checkbox")
											label.icon-check-mark(for="medical-insomnia") Insomnia
									li
										.checkbox
											input#medical-lack-of-appetite(type="checkbox")
											label.icon-check-mark(for="medical-lack-of-appetite") Lack of Appetite
									li
										.checkbox
											input#medical-muscle-spasms(type="checkbox")
											label.icon-check-mark(for="medical-muscle-spasms") Muscle Spasms
									li
										.checkbox
											input#medical-nausea(type="checkbox")
											label.icon-check-mark(for="medical-nausea") Nausea
									li
										.checkbox
											input#medical-seizures(type="checkbox")
											label.icon-check-mark(for="medical-seizures") Seizures
									li
										.checkbox
											input#medical-spasticity(type="checkbox")
											label.icon-check-mark(for="medical-spasticity") Spasticity
									li
										.checkbox
											input#medical-stress(type="checkbox")
											label.icon-check-mark(for="medical-stress") Stress
							.dropdown
								p.title.icon-down Flavours
								ul
									li
										.checkbox
											input#all-flavours(type="checkbox")
											label.icon-check-mark(for="all-flavours") All
									li
										.checkbox
											input#flavours-ammonia(type="checkbox")
											label.icon-check-mark(for="flavours-ammonia") Ammonia
									li
										.checkbox
											input#flavours-apple(type="checkbox")
											label.icon-check-mark(for="flavours-apple") Apple
									li
										.checkbox
											input#flavours-apricot(type="checkbox")
											label.icon-check-mark(for="flavours-apricot") Apricot
									li
										.checkbox
											input#flavours-berry(type="checkbox")
											label.icon-check-mark(for="flavours-berry") Berry
									li
										.checkbox
											input#flavours-blue-cheese(type="checkbox")
											label.icon-check-mark(for="flavours-blue-cheese") Blue Cheese
									li
										.checkbox
											input#flavours-blueberry(type="checkbox")
											label.icon-check-mark(for="flavours-blueberry") Blueberry
									li
										.checkbox
											input#flavours-butter(type="checkbox")
											label.icon-check-mark(for="flavours-butter") Butter
									li
										.checkbox
											input#flavours-cheese(type="checkbox")
											label.icon-check-mark(for="flavours-cheese") Cheese
									li
										.checkbox
											input#flavours-chemical(type="checkbox")
											label.icon-check-mark(for="flavours-chemical") Chemical
									li
										.checkbox
											input#flavours-chestnut(type="checkbox")
											label.icon-check-mark(for="flavours-chestnut") Chestnut
									li
										.checkbox
											input#flavours-citrus(type="checkbox")
											label.icon-check-mark(for="flavours-citrus") Citrus
									li
										.checkbox
											input#flavours-coffee(type="checkbox")
											label.icon-check-mark(for="flavours-coffee") Coffee
									li
										.checkbox
											input#flavours-diesel(type="checkbox")
											label.icon-check-mark(for="flavours-diesel") Diesel
									li
										.checkbox
											input#flavours-earthy(type="checkbox")
											label.icon-check-mark(for="flavours-earthy") Earthy
									li
										.checkbox
											input#flavours-flowery(type="checkbox")
											label.icon-check-mark(for="flavours-flowery") Flowery
									li
										.checkbox
											input#flavours-grape(type="checkbox")
											label.icon-check-mark(for="flavours-grape") Grape
									li
										.checkbox
											input#flavours-grapefruit(type="checkbox")
											label.icon-check-mark(for="flavours-grapefruit") Grapefruit
									li
										.checkbox
											input#flavours-honey(type="checkbox")
											label.icon-check-mark(for="flavours-honey") Honey
									li
										.checkbox
											input#flavours-lavender(type="checkbox")
											label.icon-check-mark(for="flavours-lavender") Lavender
									li
										.checkbox
											input#flavours-lemon(type="checkbox")
											label.icon-check-mark(for="flavours-lemon") Lemon
									li
										.checkbox
											input#flavours-lime(type="checkbox")
											label.icon-check-mark(for="flavours-lime") Lime
									li
										.checkbox
											input#flavours-mango(type="checkbox")
											label.icon-check-mark(for="flavours-mango") Mango
									li
										.checkbox
											input#flavours-menthol(type="checkbox")
											label.icon-check-mark(for="flavours-menthol") Menthol
									li
										.checkbox
											input#flavours-mint(type="checkbox")
											label.icon-check-mark(for="flavours-mint") Mint
									li
										.checkbox
											input#flavours-nutty(type="checkbox")
											label.icon-check-mark(for="flavours-nutty") Nutty
									li
										.checkbox
											input#flavours-orange(type="checkbox")
											label.icon-check-mark(for="flavours-orange") Orange
									li
										.checkbox
											input#flavours-peach(type="checkbox")
											label.icon-check-mark(for="flavours-peach") Peach
									li
										.checkbox
											input#flavours-pear(type="checkbox")
											label.icon-check-mark(for="flavours-pear") Pear
									li
										.checkbox
											input#flavours-pepper(type="checkbox")
											label.icon-check-mark(for="flavours-pepper") Pepper
									li
										.checkbox
											input#flavours-pine(type="checkbox")
											label.icon-check-mark(for="flavours-pine") Pine
									li
										.checkbox
											input#flavours-pineapple(type="checkbox")
											label.icon-check-mark(for="flavours-pineapple") Pineapple
									li
										.checkbox
											input#flavours-plum(type="checkbox")
											label.icon-check-mark(for="flavours-plum") Plum
									li
										.checkbox
											input#flavours-pungent(type="checkbox")
											label.icon-check-mark(for="flavours-pungent") Pungent
									li
										.checkbox
											input#flavours-rose(type="checkbox")
											label.icon-check-mark(for="flavours-rose") Rose
									li
										.checkbox
											input#flavours-sage(type="checkbox")
											label.icon-check-mark(for="flavours-sage") Sage
									li
										.checkbox
											input#flavours-skunk(type="checkbox")
											label.icon-check-mark(for="flavours-skunk") Skunk
									li
										.checkbox
											input#flavours-spicy(type="checkbox")
											label.icon-check-mark(for="flavours-spicy") Spicy
									li
										.checkbox
											input#flavours-strawberry(type="checkbox")
											label.icon-check-mark(for="flavours-strawberry") Strawberry
									li
										.checkbox
											input#flavours-sweet(type="checkbox")
											label.icon-check-mark(for="flavours-sweet") Sweet
									li
										.checkbox
											input#flavours-tar(type="checkbox")
											label.icon-check-mark(for="flavours-tar") Tar
									li
										.checkbox
											input#flavours-tea(type="checkbox")
											label.icon-check-mark(for="flavours-tea") Tea
									li
										.checkbox
											input#flavours-tobacco(type="checkbox")
											label.icon-check-mark(for="flavours-tobacco") Tobacco
									li
										.checkbox
											input#flavours-tree-fruit(type="checkbox")
											label.icon-check-mark(for="flavours-tree-fruit") Tree Fruit
									li
										.checkbox
											input#flavours-tropical(type="checkbox")
											label.icon-check-mark(for="flavours-tropical") Tropical
									li
										.checkbox
											input#flavours-vanilla(type="checkbox")
											label.icon-check-mark(for="flavours-vanilla") Vanilla
									li
										.checkbox
											input#flavours-violet(type="checkbox")
											label.icon-check-mark(for="flavours-violet") Violet
									li
										.checkbox
											input#flavours-woody(type="checkbox")
											label.icon-check-mark(for="flavours-woody") Woody
							a.clear-filter(href="#") Clear All Filters
					.content
						.strains-items.dfr
							a.strains-item(href="#" style="color:#01A52A;")
								p.type(style="background-color:#01A52A;") Sativa
								img(src="img/kings-primary.jpg", alt="")
								h3 Alaskin Thunderfuck (Extra Large)
								.rating.dfr
									ul.dfr(data-rating="4")
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
									p (131 reviews)
								ul.meta.dfr
									li.icon-pictures 123
									li.icon-views 11,523
							a.strains-item(href="#" style="color:#7A48E1;")
								p.type(style="background-color:#7A48E1;") Indica
								img(src="img/kings-primary-2.jpg", alt="")
								h3 Alaskin Thunderfuck (Extra Large)
								.rating.dfr
									ul.dfr(data-rating="4")
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
									p (131 reviews)
								ul.meta.dfr
									li.icon-pictures 123
									li.icon-views 11,523
							a.strains-item(href="#" style="color:#FF7200;")
								p.type(style="background-color:#FF7200;") Hybrid
								img(src="img/kings-primary-3.jpg", alt="")
								h3 Alaskin Thunderfuck (Extra Large)
								.rating.dfr
									ul.dfr(data-rating="4")
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
									p (131 reviews)
								ul.meta.dfr
									li.icon-pictures 123
									li.icon-views 11,523
							a.strains-item(href="#" style="color:#01A52A;")
								p.type(style="background-color:#01A52A;") Sativa
								img(src="img/kings-primary.jpg", alt="")
								h3 Alaskin Thunderfuck (Extra Large)
								.rating.dfr
									ul.dfr(data-rating="4")
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
									p (131 reviews)
								ul.meta.dfr
									li.icon-pictures 123
									li.icon-views 11,523
							a.strains-item(href="#" style="color:#7A48E1;")
								p.type(style="background-color:#7A48E1;") Indica
								img(src="img/kings-primary-2.jpg", alt="")
								h3 Alaskin Thunderfuck (Extra Large)
								.rating.dfr
									ul.dfr(data-rating="4")
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
									p (131 reviews)
								ul.meta.dfr
									li.icon-pictures 123
									li.icon-views 11,523
							a.strains-item(href="#" style="color:#FF7200;")
								p.type(style="background-color:#FF7200;") Hybrid
								img(src="img/kings-primary-3.jpg", alt="")
								h3 Alaskin Thunderfuck (Extra Large)
								.rating.dfr
									ul.dfr(data-rating="4")
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
									p (131 reviews)
								ul.meta.dfr
									li.icon-pictures 123
									li.icon-views 11,523
							a.strains-item(href="#" style="color:#01A52A;")
								p.type(style="background-color:#01A52A;") Sativa
								img(src="img/kings-primary.jpg", alt="")
								h3 Alaskin Thunderfuck (Extra Large)
								.rating.dfr
									ul.dfr(data-rating="4")
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
									p (131 reviews)
								ul.meta.dfr
									li.icon-pictures 123
									li.icon-views 11,523
							a.strains-item(href="#" style="color:#7A48E1;")
								p.type(style="background-color:#7A48E1;") Indica
								img(src="img/kings-primary-2.jpg", alt="")
								h3 Alaskin Thunderfuck (Extra Large)
								.rating.dfr
									ul.dfr(data-rating="4")
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
									p (131 reviews)
								ul.meta.dfr
									li.icon-pictures 123
									li.icon-views 11,523
							a.strains-item(href="#" style="color:#FF7200;")
								p.type(style="background-color:#FF7200;") Hybrid
								img(src="img/kings-primary-3.jpg", alt="")
								h3 Alaskin Thunderfuck (Extra Large)
								.rating.dfr
									ul.dfr(data-rating="4")
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
									p (131 reviews)
								ul.meta.dfr
									li.icon-pictures 123
									li.icon-views 11,523
							a.strains-item(href="#" style="color:#01A52A;")
								p.type(style="background-color:#01A52A;") Sativa
								img(src="img/kings-primary.jpg", alt="")
								h3 Alaskin Thunderfuck (Extra Large)
								.rating.dfr
									ul.dfr(data-rating="4")
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
									p (131 reviews)
								ul.meta.dfr
									li.icon-pictures 123
									li.icon-views 11,523
							a.strains-item(href="#" style="color:#7A48E1;")
								p.type(style="background-color:#7A48E1;") Indica
								img(src="img/kings-primary-2.jpg", alt="")
								h3 Alaskin Thunderfuck (Extra Large)
								.rating.dfr
									ul.dfr(data-rating="4")
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
									p (131 reviews)
								ul.meta.dfr
									li.icon-pictures 123
									li.icon-views 11,523
							a.strains-item(href="#" style="color:#FF7200;")
								p.type(style="background-color:#FF7200;") Hybrid
								img(src="img/kings-primary-3.jpg", alt="")
								h3 Alaskin Thunderfuck (Extra Large)
								.rating.dfr
									ul.dfr(data-rating="4")
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
										li.icon-star
									p (131 reviews)
								ul.meta.dfr
									li.icon-pictures 123
									li.icon-views 11,523
							a.load-more(href="#") Load 12 more
						.wp-pagenavi
							p Pages:
							a.prevpostslink.icon-arrow-left(href='#')
							span.current 2
							a.page.larger(href='#') 3
							a.page.larger(href='#') 4
							a.page.larger(href='#') 5
							a.page.larger(href='#') 6
							span.extend ...
							a.larger.page(href='#') 10
							a.nextpostslink.icon-arrow-right(href='#')
