section
	.ugc
		.container
			.row
				.col-lg-3.col-md-12.col-sm-12.col-xs-12
					include left-sidebar-ugc
				.col-lg-6.col-md-12.col-sm-12.col-xs-12
					form
						h3 Add New Term
						.input
							label Name Of Term
							input(type="text")
						.textarea
							label Term Description
							textarea
						.textarea
							label Use of Term
							textarea
						.buttons
							input.button(type="submit" value="Publish")
							button.button(type="reset") Cancel
