section
	.ugc
		.container
			.row
				.col-lg-3.col-md-12.col-sm-12.col-xs-12
					include left-sidebar-ugc
				.col-lg-6.col-md-12.col-sm-12.col-xs-12
					h3 User Level
						i.icon-info(data-toggle="modal" data-target=".info-description")
				.col-lg-3.col-md-12.col-sm-12.col-xs-12
					include right-sidebar-ugc
