
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="contacts dfrt">
          <h1>Advertise With Us</h1>
          <form class="wpcf7-form">
            <div class="input"><span class="wpcf7-form-control-wrap your-name">
                <input class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" type="text" name="name" value="" size="40" aria-required="true" aria-invalid="false" placeholder="Name"/></span></div>
            <div class="input"><span class="wpcf7-form-control-wrap your-email">
                <input class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" type="email" name="email" value="" size="40" aria-required="true" aria-invalid="false" placeholder="Email"/></span></div>
            <div class="input"><span class="wpcf7-form-control-wrap your-phone">
                <input class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" type="text" name="phone" value="" size="40" aria-required="true" aria-invalid="false" placeholder="Phone"/></span></div>
            <div class="input"><span class="wpcf7-form-control-wrap your-name">
                <input class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" type="text" name="url" value="" size="40" aria-required="true" aria-invalid="false" placeholder="Website URL"/></span></div>
            <div class="textarea"><span class="wpcf7-form-control-wrap your-message">
                <textarea class="wpcf7-form-control wpcf7-textarea" name="description" cols="40" rows="10" aria-invalid="false" placeholder="Description"></textarea></span></div>
            <div class="input">
              <input class="wpcf7-form-control wpcf7-submit button" type="submit" value="Send"/>
            </div>
          </form>
          <div class="desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
