
<section>
  <div class="article">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="breadcrumbs"><span><a class="home" href="#">Home Page</a></span><span><a href="#">DIY</a></span><span>How to clean a glass cannabis pipe: a step-by-step guide</span></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row dfr">
        <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
          <ul class="tags dfr">
            <li><a href="#">Business</a></li>
          </ul>
          <h1 class="title">How to clean a glass cannabis pip e: a step-by-step guide</h1>
          <p class="desc">If you maintain your pipe well, it’ll likely provide an enjoyable smoke for years</p>
          <ul class="meta dfr">
            <li><a href="#"><img src="img/no-img.svg" alt="#"/><span>BY</span>CANNCENTRALEDITOR</a></li>
            <li class="view">1,488<i class="icon-eye"></i></li>
            <li>April 13, 2020<i class="icon-clock"></i></li>
          </ul>
        </div>
        <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12"><img src="img/category.jpg" alt=""/>
          <p class="caption">Grav / Unsplash</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="content">
            <div class="fix-block">
              <div class="upvotes"><a class="icon-top" href="#"></a>
                <h4>12,305<span>Upvotes</span></h4><a class="icon-bottom" href="#"></a>
              </div>
              <div class="share"><i class="icon-share"></i>
                <ul class="soc">
                  <li><a class="icon-twitter" href="#"></a></li>
                  <li><a class="icon-facebook" href="#"></a></li>
                </ul>
              </div>
            </div>
            <div class="content-post">
              <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<strong>Amet id consectetur consequatur magni repellat</strong>, earum eveniet architecto autem. Autem saepe consequuntur voluptatem dolore sequi voluptatum molestias, quaerat facere alias, corporis consectetur ducimus, placeat recusandae! Repudiandae molestiae harum in odit ullam?</p>
              <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
              <p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</em>Totam ad aperiam nisi aspernatur praesentium, cumque, nihil assumenda voluptas repudiandae sint porro nostrum rem fugit placeat qui necessitatibus. Quos ipsum reiciendis, voluptatem molestias modi, commodi deserunt, porro consequuntur odio inventore, necessitatibus?</p>
              <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
              <p>Lorem ipsum dolor sit amet,<i>consectetur adipisicing elit. Ab quo nulla quibusdam sunt vero,</i>excepturi officiis modi voluptatem esse aperiam sapiente velit maiores placeat dicta quia delectus numquam quidem recusandae repellendus saepe, magnam est eligendi reprehenderit autem consequuntur. Quae, mollitia.</p>
              <ol>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  <ol>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                  </ol>
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  <ol>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                  </ol>
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
              </ol>
              <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<b>Quod, animi, porro. Quae asperiores quam accusamus, iure facilis ullam blanditiis dolor maxime,</b>doloribus magni pariatur rem eum corporis rerum voluptate ipsum error suscipit obcaecati ex, architecto dolorem adipisci laborum. Molestiae, quod!</p>
              <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis explicabo magnam reprehenderit nostrum, aliquam enim eligendi aliquid eos libero illo consequuntur neque dolorum expedita hic placeat accusantium iure, nam repellat quos qui vero, corporis natus doloribus necessitatibus. Dolorum, deserunt, at!</p>
              <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                  </ul>
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                  </ul>
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
              </ul>
              <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem amet culpa tempore omnis soluta eos possimus eum earum delectus, sit provident pariatur, natus accusantium iste nesciunt vero vel, dolores, nulla quas odit mollitia voluptatem. Aspernatur eum temporibus suscipit, numquam, illum, nesciunt tempore distinctio dolore beatae molestias<a href="#">aliquid. Tempora, inventore, culpa?</a></p>
              </blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis explicabo magnam reprehenderit nostrum, aliquam enim eligendi aliquid eos libero illo consequuntur neque dolorum expedita hic placeat accusantium iure, nam repellat quos qui vero, corporis natus doloribus necessitatibus. Dolorum, deserunt, at!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis explicabo magnam reprehenderit nostrum, aliquam enim eligendi aliquid eos libero illo consequuntur neque dolorum expedita hic placeat accusantium iure, nam repellat quos qui vero, corporis natus doloribus necessitatibus. Dolorum, deserunt, at!</p>
              <div class="alignleft">
                <blockquote>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem amet culpa tempore omnis soluta eos possimus eum earum delectus, sit provident pariatur, natus accusantium iste nesciunt vero vel, dolores, nulla quas odit mollitia voluptatem. Aspernatur eum temporibus suscipit, numquam, illum, nesciunt tempore distinctio dolore beatae molestias<a href="#">aliquid. Tempora, inventore, culpa?</a></p>
                </blockquote>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis explicabo magnam reprehenderit nostrum, aliquam enim eligendi aliquid eos libero illo consequuntur neque dolorum expedita hic placeat accusantium iure, nam repellat quos qui vero, corporis natus doloribus necessitatibus. Dolorum, deserunt, at!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis explicabo magnam reprehenderit nostrum, aliquam enim eligendi aliquid eos libero illo consequuntur neque dolorum expedita hic placeat accusantium iure, nam repellat quos qui vero.</p>
              <div class="alignright">
                <blockquote>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem amet culpa tempore omnis soluta eos possimus eum earum delectus, sit provident pariatur, natus accusantium iste nesciunt vero vel, dolores, nulla quas odit mollitia voluptatem. Aspernatur eum temporibus suscipit, numquam, illum, nesciunt tempore distinctio dolore beatae molestias<a href="#">aliquid. Tempora, inventore, culpa?</a></p>
                </blockquote>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis explicabo magnam reprehenderit nostrum, aliquam enim eligendi aliquid eos libero illo consequuntur neque dolorum expedita hic placeat accusantium iure, nam repellat quos qui vero, corporis natus doloribus necessitatibus. Dolorum, deserunt, at!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis explicabo magnam reprehenderit nostrum, aliquam enim eligendi aliquid eos libero illo consequuntur neque dolorum expedita hic placeat accusantium iure, nam repellat quos qui vero, corporis natus doloribus necessitatibus. Dolorum, deserunt, at!</p>
              <figure><img src="img/category.jpg" alt=""/>
                <p class="caption">Grav / Unsplash</p>
              </figure>
              <div class="alignleft">
                <figure><img src="img/category.jpg" alt=""/>
                  <p class="caption">Grav / Unsplash</p>
                </figure>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis explicabo magnam reprehenderit nostrum, aliquam enim eligendi aliquid eos libero illo consequuntur neque dolorum expedita hic placeat accusantium iure, nam repellat quos qui vero, corporis natus doloribus necessitatibus. Dolorum, deserunt, at!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis explicabo magnam reprehenderit nostrum, aliquam enim eligendi aliquid eos libero illo consequuntur neque dolorum expedita hic placeat accusantium iure, nam repellat quos qui vero.</p>
              <div class="alignright">
                <figure><img src="img/category.jpg" alt=""/>
                  <p class="caption">Grav / Unsplash</p>
                </figure>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis explicabo magnam reprehenderit nostrum, aliquam enim eligendi aliquid eos libero illo consequuntur neque dolorum expedita hic placeat accusantium iure, nam repellat quos qui vero, corporis natus doloribus necessitatibus. Dolorum, deserunt, at!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis explicabo magnam reprehenderit nostrum, aliquam enim eligendi aliquid eos libero illo consequuntur neque dolorum expedita hic placeat accusantium iure, nam repellat quos qui vero.</p><a class="report" href="#">Click here to report a typo.</a>
              <form class="form-report">
                <div class="input">
                  <label>Your Name<sub>*</sub></label>
                  <input type="text" required="required"/>
                </div>
                <div class="input">
                  <label>Your Email<sub>*</sub></label>
                  <input type="email" required="required"/>
                </div>
                <div class="textarea">
                  <label>Describe the typo<sub>*</sub></label>
                  <textarea required="required"></textarea>
                </div>
                <div class="input">
                  <input class="button" type="submit" value="Report Typo"/>
                </div>
              </form>
              <ul class="tags dfr icon-tag">
                <li><a href="#">Cannabis</a></li>
                <li><a href="#">Cleaning</a></li>
                <li><a href="#">pipe</a></li>
              </ul>
              <div class="author-block dfr"><img class="avatar" src="img/no-img.svg" alt="eSport expert" width="91" height="91"/>
                <div class="description dfr">
                  <p class="author-name">Alex Lavigyn</p>
                  <ul class="soc-author dfr">
                    <li><a class="icon-instagram" href="https://www.instagram.com/lovik1468/"></a></li>
                    <li><a class="icon-facebook" href="https://www.facebook.com/alsconweb.alex"></a></li>
                    <li><a class="icon-twitter" href="https://twitter.com/enzodimatteo"></a></li>
                  </ul>
                  <p class="author-description">Now, it might have come in your head that, is it really possible? Do we required to use plugin to display Author Bio of the posts? Well, the answer towards it is, you can display the author bio in WordPress below the posts and also, the use of the plugin is absolutely not required. So, here we will describe about displaying the author bio without the use of the plugin.</p>
                </div>
              </div>
            </div>
            <div class="comment_block">
              <div class="comment-respond" id="respond">
                <h3 class="comment-reply-title" id="reply-title">Leave Your Review<small><a id="cancel-comment-reply-link" rel="nofollow" href="#">Cancel reply</a></small></h3>
                <form class="comment-form" id="comment_form"><img class="avatar" src="img/user.jpg" alt=""/>
                  <p class="comment-form-author">
                    <label>Name</label>
                    <input type="text"/>
                  </p>
                  <p class="comment-form-email">
                    <label>Email</label>
                    <input type="text"/>
                  </p>
                  <p class="comment-form-comment">
                    <textarea id="comment" placeholder="Comment..."></textarea>
                  </p>
                  <p class="comment-form-cookies-consent">
                    <input id="save" type="checkbox"/>
                    <label for="save">Save my name, email, and website in this browser for the next time I comment.</label>
                  </p>
                  <p class="form-submit">
                    <input class="submit" id="submit" type="submit" value="Submit"/>
                  </p>
                </form>
              </div>
              <div class="review">
                <h2>Reviews<span>(321)</span></h2>
                <ul class="comments-list">
                  <li class="comment even thread-even depth-1" id="li-comment-113">
                    <div id="comment-113">
                      <div class="comment_block">
                        <div class="comment-author vcard"><img class="avatar" src="img/user.jpg" alt="#"/>
                          <cite class="fn">Robin</cite><span class="says"></span><span class="time icon-clock">October 17, 2019 02:04 PM</span>
                        </div>
                        <div class="comment_text">
                          <p>Where is the brownie recipe<br/> You only gave how to make butter and oils</p>
                        </div>
                        <ul class="sympathy">
                          <li><a class="icon-top" href="#">23</a></li>
                          <li><a class="icon-bottom" href="#">151</a></li>
                        </ul>
                        <div class="reply"><a class="comment-reply-link" href="#">Reply</a></div>
                        <div class="clear"></div>
                      </div>
                    </div>
                    <ul class="children">
                      <li class="comment odd alt depth-2" id="li-comment-114">
                        <div id="comment-114">
                          <div class="comment_block">
                            <div class="comment-author vcard"><img class="avatar" src="img/no-img.svg" alt="#"/>
                              <cite class="fn">Scott Heron</cite><span class="says"></span><span class="time icon-clock">October 17, 2019 03:03 PM</span>
                              <div class="comment-meta commentmetadata"><a href="#"></a></div>
                            </div>
                            <div class="comment_text">
                              <p><strong>Hey Robin,</strong>Great question! The benefit of knowing how to make butter and oil, is that you can use these in any recipe to infuse them with cannabis. If you’d like to make cannabis-infused brownies, take your favourite brownie recipe and replace the regular butter with the cannabis infused butter.</p>
                            </div>
                            <ul class="sympathy">
                              <li><a class="icon-top" href="#">12</a></li>
                              <li><a class="icon-bottom" href="#">23</a></li>
                            </ul>
                            <div class="reply"><a class="comment-reply-link" href="#">Reply</a></div>
                          </div>
                        </div>
                      </li>
                      <li class="comment odd alt depth-2" id="li-comment-114">
                        <div id="comment-114">
                          <div class="comment_block">
                            <div class="comment-author vcard"><img class="avatar" src="img/user.jpg" alt="#"/>
                              <cite class="fn">Robin</cite><span class="says"></span><span class="time icon-clock">October 17, 2019 03:03 PM</span>
                              <div class="comment-meta commentmetadata"><a href="#"></a></div>
                            </div>
                            <div class="comment_text">
                              <p><strong>Hey Scott Heron,</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A iste nostrum minus voluptatum eveniet tempore facere temporibus dolore fuga magni eum, veritatis? Modi autem voluptatem doloremque, accusamus unde, accusantium quos maiores reprehenderit ab quas error, necessitatibus excepturi ipsam vel magni facilis, sed impedit assumenda. Natus molestias quaerat fuga blanditiis atque.</p>
                            </div>
                            <ul class="sympathy">
                              <li><a class="icon-top" href="#">12</a></li>
                              <li><a class="icon-bottom" href="#">23</a></li>
                            </ul>
                            <div class="reply"><a class="comment-reply-link" href="#">Reply</a></div>
                            <div class="reply-comment"><img class="avatar" src="img/user.jpg" alt="#"/>
                              <div class="textarea">
                                <textarea placeholder="Comment"></textarea>
                              </div>
                              <button class="button" type="submit">Send</button>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li class="comment even thread-even depth-1" id="li-comment-113">
                    <div id="comment-113">
                      <div class="comment_block">
                        <div class="comment-author vcard"><img class="avatar" src="img/user.jpg" alt="#"/>
                          <cite class="fn">Robin</cite><span class="says"></span><span class="time icon-clock">October 17, 2019 02:04 PM</span>
                        </div>
                        <div class="comment_text">
                          <p>Where is the brownie recipe<br/> You only gave how to make butter and oils</p>
                        </div>
                        <ul class="sympathy">
                          <li><a class="icon-top" href="#">23</a></li>
                          <li><a class="icon-bottom" href="#">151</a></li>
                        </ul>
                        <div class="reply"><a class="comment-reply-link" href="#">Reply</a></div>
                        <div class="clear"></div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="sidebar">
            <div class="wpcf7" id="wpcf7-f1338-o1">
              <form class="wpcf7-form">
                <div class="subscribe icon-scissors">
                  <h3>The Weekly BuzZz</h3>
                  <p>Subscribe to the Weekly Buzz and never miss another marijuana moment!</p>
                  <div class="input"><span class="wpcf7-form-control-wrap your-email">
                      <input class="wpcf7-text" type="email" name="your-email" value="" size="40" aria-required="true" aria-invalid="false" placeholder="E-mail *"/></span></div>
                  <div class="input">
                    <input class="button" type="submit" value="subscribe"/>
                  </div>
                </div>
              </form>
            </div>
            <div class="add_wrap"><img src="https://via.placeholder.com/446x446"/></div>
            <div class="more-articles">
              <h3 class="icon-megaphone">More Articles</h3>
              <div class="item">
                <ul class="tags dfr">
                  <li><a href="#">Business</a></li>
                </ul>
                <h3><a href="#">How to clean a glass cannabis pipe: a step-by-step guide</a></h3>
                <ul class="meta dfr">
                  <li><a href="#"><img src="img/no-img.svg" alt="#"/><span>BY</span>CANNCENTRALEDITOR</a></li>
                  <li>April 13, 2020<i class="icon-clock"></i></li>
                </ul>
              </div>
              <div class="item">
                <ul class="tags dfr">
                  <li><a href="#">Business</a></li>
                </ul>
                <h3><a href="#">How to clean a glass cannabis pipe: a step-by-step guide</a></h3>
                <ul class="meta dfr">
                  <li><a href="#"><img src="img/no-img.svg" alt="#"/><span>BY</span>CANNCENTRALEDITOR</a></li>
                  <li>April 13, 2020<i class="icon-clock"></i></li>
                </ul>
              </div>
              <div class="item">
                <ul class="tags dfr">
                  <li><a href="#">Business</a></li>
                </ul>
                <h3><a href="#">How to clean a glass cannabis pipe: a step-by-step guide</a></h3>
                <ul class="meta dfr">
                  <li><a href="#"><img src="img/no-img.svg" alt="#"/><span>BY</span>CANNCENTRALEDITOR</a></li>
                  <li>April 13, 2020<i class="icon-clock"></i></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="posts">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-ld-12 col-sm-12 col-xs-12">
          <h2 class="title"><span>Related Articles</span></h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-ld-4 col-sm-4 col-xs-12">
          <div class="item">
            <ul class="meta dfr">
              <li><a href="#"><img src="img/no-img.svg" alt="#"/><span>BY</span>CANNCENTRALEDITOR</a></li>
              <li>April 13, 2020<i class="icon-clock"></i></li>
            </ul><a class="img" href="#"><img src="img/post-1.jpg" alt=""/></a>
            <ul class="tags dfr">
              <li><a href="#">Business</a></li>
            </ul>
            <h3><a href="#">How to clean a glass cannabis pipe: a step-by-step guide</a></h3>
          </div>
        </div>
        <div class="col-lg-4 col-ld-4 col-sm-4 col-xs-12">
          <div class="item">
            <ul class="meta dfr">
              <li><a href="#"><img src="img/user.jpg" alt="#"/><span>BY</span>CANNCENTRALEDITOR</a></li>
              <li>April 13, 2020<i class="icon-clock"></i></li>
            </ul><a class="img" href="#"><img src="img/post-2.jpg" alt=""/></a>
            <ul class="tags dfr">
              <li><a href="#">Business</a></li>
              <li><a href="#">News</a></li>
            </ul>
            <h3><a href="#">How to clean a glass cannabis pipe: a step-by-step guide</a></h3>
          </div>
        </div>
        <div class="col-lg-4 col-ld-4 col-sm-4 col-xs-12">
          <div class="item">
            <ul class="meta dfr">
              <li><a href="#"><img src="img/no-img.svg" alt="#"/><span>BY</span>CANNCENTRALEDITOR</a></li>
              <li>April 13, 2020<i class="icon-clock"></i></li>
            </ul><a class="img" href="#"><img src="img/post-3.jpg" alt=""/></a>
            <ul class="tags dfr">
              <li><a href="#">Business</a></li>
            </ul>
            <h3><a href="#">How to clean a glass cannabis pipe: a step-by-step guide</a></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-ld-12 col-sm-12 col-xs-12">
          <div class="wpcf7" id="wpcf7-f1338-o1">
            <form class="wpcf7-form">
              <div class="subscribe icon-scissors dfr"><img src="img/Subscribe.png" alt="#"/>
                <div class="description">
                  <h3>The Weekly<br/>BuzZzzzzzzz</h3>
                  <p>Subscribe to the Weekly Buzz and never miss<br/>another marijuana moment!</p>
                </div>
                <div class="inputs">
                  <div class="input"><span class="wpcf7-form-control-wrap">
                      <input class="wpcf7-text" type="email" name="your-email" value="" size="40" aria-required="true" aria-invalid="false" placeholder="E-mail *"/></span></div>
                  <div class="input">
                    <input class="button" type="submit" value="subscribe"/>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
