
<section>
  <div class="banner mini">
    <div class="row">
      <div class="col-lg-12 col-ld-12 col-sm-12 col-xs-12"><img src="img/user.jpg" alt="#"/>
        <h1>By CANNCENTRAL EDITOR</h1>
      </div>
    </div>
  </div>
  <div class="posts">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-ld-4 col-sm-4 col-xs-12">
          <div class="item">
            <ul class="meta dfr">
              <li><a href="#"><img src="img/user.jpg" alt="#"/><span>BY</span>CANNCENTRALEDITOR</a></li>
              <li>April 13, 2020<i class="icon-clock"></i></li>
            </ul><a class="img" href="#"><img src="img/post-1.jpg" alt=""/></a>
            <ul class="tags dfr">
              <li><a href="#">Business</a></li>
            </ul><a href="#">
              <h3>How to clean a glass cannabis pipe: a step-by-step guide</h3></a>
          </div>
        </div>
        <div class="col-lg-4 col-ld-4 col-sm-4 col-xs-12">
          <div class="item">
            <ul class="meta dfr">
              <li><a href="#"><img src="img/user.jpg" alt="#"/><span>BY</span>CANNCENTRALEDITOR</a></li>
              <li>April 13, 2020<i class="icon-clock"></i></li>
            </ul><a class="img" href="#"><img src="img/post-2.jpg" alt=""/></a>
            <ul class="tags dfr">
              <li><a href="#">Business</a></li>
              <li><a href="#">News</a></li>
            </ul><a href="#">
              <h3>How to clean a glass cannabis pipe: a step-by-step guide</h3></a>
          </div>
        </div>
        <div class="col-lg-4 col-ld-4 col-sm-4 col-xs-12">
          <div class="item">
            <ul class="meta dfr">
              <li><a href="#"><img src="img/user.jpg" alt="#"/><span>BY</span>CANNCENTRALEDITOR</a></li>
              <li>April 13, 2020<i class="icon-clock"></i></li>
            </ul><a class="img" href="#"><img src="img/post-1.jpg" alt=""/></a>
            <ul class="tags dfr">
              <li><a href="#">Business</a></li>
            </ul><a href="#">
              <h3>How to clean a glass cannabis pipe: a step-by-step guide</h3></a>
          </div>
        </div>
        <div class="col-lg-4 col-ld-4 col-sm-4 col-xs-12">
          <div class="item">
            <ul class="meta dfr">
              <li><a href="#"><img src="img/user.jpg" alt="#"/><span>BY</span>CANNCENTRALEDITOR</a></li>
              <li>April 13, 2020<i class="icon-clock"></i></li>
            </ul><a class="img" href="#"><img src="img/post-2.jpg" alt=""/></a>
            <ul class="tags dfr">
              <li><a href="#">Business</a></li>
              <li><a href="#">News</a></li>
            </ul><a href="#">
              <h3>How to clean a glass cannabis pipe: a step-by-step guide</h3></a>
          </div>
        </div>
        <div class="col-lg-4 col-ld-4 col-sm-4 col-xs-12">
          <div class="item">
            <ul class="meta dfr">
              <li><a href="#"><img src="img/user.jpg" alt="#"/><span>BY</span>CANNCENTRALEDITOR</a></li>
              <li>April 13, 2020<i class="icon-clock"></i></li>
            </ul><a class="img" href="#"><img src="img/post-2.jpg" alt=""/></a>
            <ul class="tags dfr">
              <li><a href="#">Business</a></li>
              <li><a href="#">News</a></li>
            </ul><a href="#">
              <h3>How to clean a glass cannabis pipe: a step-by-step guide</h3></a>
          </div>
        </div>
        <div class="col-lg-4 col-ld-4 col-sm-4 col-xs-12">
          <div class="item">
            <ul class="meta dfr">
              <li><a href="#"><img src="img/user.jpg" alt="#"/><span>BY</span>CANNCENTRALEDITOR</a></li>
              <li>April 13, 2020<i class="icon-clock"></i></li>
            </ul><a class="img" href="#"><img src="img/post-3.jpg" alt=""/></a>
            <ul class="tags dfr">
              <li><a href="#">Business</a></li>
            </ul><a href="#">
              <h3>How to clean a glass cannabis pipe: a step-by-step guide</h3></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="add_wrap">
          <div class="col-lg-12 col-ld-12 col-sm-12 col-xs-12"><img src="img/advertising.jpg" alt="" style="width:100%; max-width:900px;"/></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-ld-4 col-sm-4 col-xs-12">
          <div class="item">
            <ul class="meta dfr">
              <li><a href="#"><img src="img/user.jpg" alt="#"/><span>BY</span>CANNCENTRALEDITOR</a></li>
              <li>April 13, 2020<i class="icon-clock"></i></li>
            </ul><a class="img" href="#"><img src="img/post-1.jpg" alt=""/></a>
            <ul class="tags dfr">
              <li><a href="#">Business</a></li>
            </ul><a href="#">
              <h3>How to clean a glass cannabis pipe: a step-by-step guide</h3></a>
          </div>
        </div>
        <div class="col-lg-4 col-ld-4 col-sm-4 col-xs-12">
          <div class="item">
            <ul class="meta dfr">
              <li><a href="#"><img src="img/user.jpg" alt="#"/><span>BY</span>CANNCENTRALEDITOR</a></li>
              <li>April 13, 2020<i class="icon-clock"></i></li>
            </ul><a class="img" href="#"><img src="img/post-2.jpg" alt=""/></a>
            <ul class="tags dfr">
              <li><a href="#">Business</a></li>
              <li><a href="#">News</a></li>
            </ul><a href="#">
              <h3>How to clean a glass cannabis pipe: a step-by-step guide</h3></a>
          </div>
        </div>
        <div class="col-lg-4 col-ld-4 col-sm-4 col-xs-12">
          <div class="item">
            <ul class="meta dfr">
              <li><a href="#"><img src="img/user.jpg" alt="#"/><span>BY</span>CANNCENTRALEDITOR</a></li>
              <li>April 13, 2020<i class="icon-clock"></i></li>
            </ul><a class="img" href="#"><img src="img/post-3.jpg" alt=""/></a>
            <ul class="tags dfr">
              <li><a href="#">Business</a></li>
            </ul><a href="#">
              <h3>How to clean a glass cannabis pipe: a step-by-step guide</h3></a>
          </div>
        </div>
        <div class="col-lg-4 col-ld-4 col-sm-4 col-xs-12">
          <div class="item">
            <ul class="meta dfr">
              <li><a href="#"><img src="img/user.jpg" alt="#"/><span>BY</span>CANNCENTRALEDITOR</a></li>
              <li>April 13, 2020<i class="icon-clock"></i></li>
            </ul><a class="img" href="#"><img src="img/post-1.jpg" alt=""/></a>
            <ul class="tags dfr">
              <li><a href="#">Business</a></li>
            </ul><a href="#">
              <h3>How to clean a glass cannabis pipe: a step-by-step guide</h3></a>
          </div>
        </div>
        <div class="col-lg-4 col-ld-4 col-sm-4 col-xs-12">
          <div class="item">
            <ul class="meta dfr">
              <li><a href="#"><img src="img/user.jpg" alt="#"/><span>BY</span>CANNCENTRALEDITOR</a></li>
              <li>April 13, 2020<i class="icon-clock"></i></li>
            </ul><a class="img" href="#"><img src="img/post-2.jpg" alt=""/></a>
            <ul class="tags dfr">
              <li><a href="#">Business</a></li>
              <li><a href="#">News</a></li>
            </ul><a href="#">
              <h3>How to clean a glass cannabis pipe: a step-by-step guide</h3></a>
          </div>
        </div>
        <div class="col-lg-4 col-ld-4 col-sm-4 col-xs-12">
          <div class="item">
            <ul class="meta dfr">
              <li><a href="#"><img src="img/user.jpg" alt="#"/><span>BY</span>CANNCENTRALEDITOR</a></li>
              <li>April 13, 2020<i class="icon-clock"></i></li>
            </ul><a class="img" href="#"><img src="img/post-3.jpg" alt=""/></a>
            <ul class="tags dfr">
              <li><a href="#">Business</a></li>
            </ul><a href="#">
              <h3>How to clean a glass cannabis pipe: a step-by-step guide</h3></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-ld-12 col-sm-12 col-xs-12">
          <div class="wp-pagenavi">
            <p>Pages:</p><a class="prevpostslink icon-arrow-left" href="#"></a><span class="current">2</span><a class="page larger" href="#">3</a><a class="page larger" href="#">4</a><a class="page larger" href="#">5</a><a class="page larger" href="#">6</a><span class="extend">...</span><a class="larger page" href="#">10</a><a class="nextpostslink icon-arrow-right" href="#"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-ld-12 col-sm-12 col-xs-12">
          <div class="wpcf7" id="wpcf7-f1338-o1">
            <form class="wpcf7-form">
              <div class="subscribe icon-scissors dfr"><img src="img/Subscribe.png" alt="#"/>
                <div class="description">
                  <h3>The Weekly<br/>BuzZzzzzzzz</h3>
                  <p>Subscribe to the Weekly Buzz and never miss<br/>another marijuana moment!</p>
                </div>
                <div class="inputs">
                  <div class="input"><span class="wpcf7-form-control-wrap your-email">
                      <input class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" type="email" name="your-email" value="" size="40" aria-required="true" aria-invalid="false" placeholder="E-mail *"/></span></div>
                  <div class="input">
                    <input class="wpcf7-form-control wpcf7-submit button purple" type="submit" value="subscribe"/>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
