
<section class="jwa-map-list">
  <div class="dispensary">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="breadcrumbs"><span><a href="#">Dispensaries</a></span><span>Canncentral Cannabis</span></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <div class="item dfr" data-lat="43.640190" data-lng="-79.427504" data-type="doctors-marker"><img src="img/central.jpg" alt="#"/>
            <div class="description">
              <h3>Central Cannabis</h3>
              <div class="rating dfr">
                <ul class="dfr" data-rating="4">
                  <li class="icon-star"></li>
                  <li class="icon-star"></li>
                  <li class="icon-star"></li>
                  <li class="icon-star"></li>
                  <li class="icon-star"></li>
                </ul>
                <p>(131 reviews)</p>
              </div>
              <p class="address">1255 Bay Street, Unit #702 Toronto, Ontario</p><a class="phone icon-phone" href="tel:12266674545">1 226 667 4545</a><a class="web icon-planet" href="http://www.centralcannabis.net/" target="_blank">http://www.centralcannabis.net/</a>
              <p class="status icon-clock">Open until<span>6:00PM</span></p>
              <div class="buttons dfr"><a class="button" href="#">Сall</a><a class="button" href="#">Get Directions</a></div>
              <div class="share dfr">
                <div class="icon-share"></div>
                <ul class="soc">
                  <li><a class="icon-facebook" href="#"></a></li>
                  <li><a class="icon-twitter" href="#"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 dfr">
          <h3>Review Summary</h3>
          <div class="chart" data-percent="70">
            <p>4.2</p>
            <div class="rating dfr">
              <ul class="dfr" data-rating="4">
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
                <li class="icon-star"></li>
              </ul>
            </div>
          </div>
          <ul class="progress-bars">
            <li class="dfr"><span>5 Stars</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;"></div>
              </div>
              <p>55</p>
            </li>
            <li class="dfr"><span>4 Stars</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
              </div>
              <p>612</p>
            </li>
            <li class="dfr"><span>3 Stars</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 35%;"></div>
              </div>
              <p>43</p>
            </li>
            <li class="dfr"><span>2 Stars</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"></div>
              </div>
              <p>35</p>
            </li>
            <li class="dfr"><span>1 Stars</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100" style="width: 6%;"></div>
              </div>
              <p>3</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="dispensary-description">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <ul class="dispensary-nav dfr">
            <li class="active"><a href="#business-hours" data-toggle="tab">Business Hours</a></li>
            <li><a href="#reviews" data-toggle="tab">Reviews<span>(1245)</span></a></li>
            <li><a href="#about" data-toggle="tab">About</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="business-hours">
              <ul class="business-hours icon-lock" data-title="Permanently Closed">
                <li>Monday<span>9:00am-6:00pm</span></li>
                <li>Tuesday<span>9:00am-6:00pm</span></li>
                <li><strong>Wednesday<span>9:00am-6:00pm</span></strong></li>
                <li>Thursday<span>9:00am-6:00pm</span></li>
                <li>Friday<span>9:00am-6:00pm</span></li>
                <li>Saturday<span>Closed</span></li>
                <li>Sunday<span>Closed</span></li>
              </ul>
              <div id="map" data-lat="43.640190" data-lng="-79.427504"></div>
            </div>
            <div class="tab-pane" id="reviews">
              <form class="reviews-form dfr">
                <h3>Write a Review</h3>
                <p>Rate Dispensary</p>
                <div class="rating dfr">
                  <ul class="dfr" data-rating="4">
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                  </ul>
                </div>
                <div class="input">
                  <input type="text" placeholder="Name"/>
                </div>
                <div class="input">
                  <input type="text" placeholder="Email"/>
                </div>
                <div class="textarea">
                  <textarea placeholder="Comment..."></textarea>
                </div>
                <div class="input">
                  <input class="button" type="submit" value="Submit"/>
                </div>
              </form>
              <div class="comment_block">
                <div class="review">
                  <h2>Reviews<span>(321)</span></h2>
                  <ul class="comments-list">
                    <li class="comment even thread-even depth-1" id="li-comment-113">
                      <div id="comment-113">
                        <div class="comment_block">
                          <div class="comment-author vcard"><img class="avatar" src="img/user.jpg" alt="#"/>
                            <cite class="fn">Robin</cite><span class="says"></span><span class="time icon-clock">October 17, 2019 02:04 PM</span>
                          </div>
                          <div class="comment_text">
                            <p>Where is the brownie recipe<br/> You only gave how to make butter and oils</p>
                          </div>
                          <ul class="sympathy">
                            <li><a class="icon-top" href="#">23</a></li>
                            <li><a class="icon-bottom" href="#">151</a></li>
                          </ul>
                          <div class="reply"><a class="comment-reply-link" href="#">Reply</a></div>
                          <div class="clear"></div>
                        </div>
                      </div>
                      <ul class="children">
                        <li class="comment odd alt depth-2" id="li-comment-114">
                          <div id="comment-114">
                            <div class="comment_block">
                              <div class="comment-author vcard"><img class="avatar" src="img/no-img.svg" alt="#"/>
                                <cite class="fn">Scott Heron</cite><span class="says"></span><span class="time icon-clock">October 17, 2019 03:03 PM</span>
                                <div class="comment-meta commentmetadata"><a href="#"></a></div>
                              </div>
                              <div class="comment_text">
                                <p><strong>Hey Robin,</strong>Great question! The benefit of knowing how to make butter and oil, is that you can use these in any recipe to infuse them with cannabis. If you’d like to make cannabis-infused brownies, take your favourite brownie recipe and replace the regular butter with the cannabis infused butter.</p>
                              </div>
                              <ul class="sympathy">
                                <li><a class="icon-top" href="#">12</a></li>
                                <li><a class="icon-bottom" href="#">23</a></li>
                              </ul>
                              <div class="reply"><a class="comment-reply-link" href="#">Reply</a></div>
                            </div>
                          </div>
                        </li>
                        <li class="comment odd alt depth-2" id="li-comment-114">
                          <div id="comment-114">
                            <div class="comment_block">
                              <div class="comment-author vcard"><img class="avatar" src="img/user.jpg" alt="#"/>
                                <cite class="fn">Robin</cite><span class="says"></span><span class="time icon-clock">October 17, 2019 03:03 PM</span>
                                <div class="comment-meta commentmetadata"><a href="#"></a></div>
                              </div>
                              <div class="comment_text">
                                <p><strong>Hey Scott Heron,</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A iste nostrum minus voluptatum eveniet tempore facere temporibus dolore fuga magni eum, veritatis? Modi autem voluptatem doloremque, accusamus unde, accusantium quos maiores reprehenderit ab quas error, necessitatibus excepturi ipsam vel magni facilis, sed impedit assumenda. Natus molestias quaerat fuga blanditiis atque.</p>
                              </div>
                              <ul class="sympathy">
                                <li><a class="icon-top" href="#">12</a></li>
                                <li><a class="icon-bottom" href="#">23</a></li>
                              </ul>
                              <div class="reply"><a class="comment-reply-link" href="#">Reply</a></div>
                              <div class="reply-comment"><img class="avatar" src="img/user.jpg" alt="#"/>
                                <div class="textarea">
                                  <textarea placeholder="Comment"></textarea>
                                </div>
                                <button class="button" type="submit">Send</button>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <li class="comment even thread-even depth-1" id="li-comment-113">
                      <div id="comment-113">
                        <div class="comment_block">
                          <div class="comment-author vcard"><img class="avatar" src="img/user.jpg" alt="#"/>
                            <cite class="fn">Robin</cite><span class="says"></span><span class="time icon-clock">October 17, 2019 02:04 PM</span>
                          </div>
                          <div class="comment_text">
                            <p>Where is the brownie recipe<br/> You only gave how to make butter and oils</p>
                          </div>
                          <ul class="sympathy">
                            <li><a class="icon-top" href="#">23</a></li>
                            <li><a class="icon-bottom" href="#">151</a></li>
                          </ul>
                          <div class="reply"><a class="comment-reply-link" href="#">Reply</a></div>
                          <div class="clear"></div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="about">
              <div class="left-block">
                <h3>Central Cannabis</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              </div>
              <div class="right-block">
                <h3>Photos (12)</h3>
                <div class="about-slider">
                  <div class="item"><img src="img/dispensaries-1.jpg" alt="#"/></div>
                  <div class="item"><img src="img/dispensaries-2.jpg" alt="#"/></div>
                  <div class="item"><img src="img/dispensaries-3.jpg" alt="#"/></div>
                  <div class="item"><img src="img/dispensaries-1.jpg" alt="#"/></div>
                  <div class="item"><img src="img/dispensaries-2.jpg" alt="#"/></div>
                  <div class="item"><img src="img/dispensaries-3.jpg" alt="#"/></div>
                </div>
                <div class="about-slider-nav">
                  <div class="item"><img src="img/dispensaries-1.jpg" alt="#"/></div>
                  <div class="item"><img src="img/dispensaries-2.jpg" alt="#"/></div>
                  <div class="item"><img src="img/dispensaries-3.jpg" alt="#"/></div>
                  <div class="item"><img src="img/dispensaries-1.jpg" alt="#"/></div>
                  <div class="item"><img src="img/dispensaries-2.jpg" alt="#"/></div>
                  <div class="item"><img src="img/dispensaries-3.jpg" alt="#"/></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nearest">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2 class="title"><span>Nearest Dispensaries</span></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a class="item dfr" href="#"><img src="img/no-image.jpg" alt=""/>
            <div class="description">
              <h3>Central Cannabis</h3>
              <p class="address">1255 Bay Street, Unit #702 Toronto, Ontario</p>
              <div class="rating dfr">
                <ul class="dfr" data-rating="4">
                  <li class="icon-star"></li>
                  <li class="icon-star"></li>
                  <li class="icon-star"></li>
                  <li class="icon-star"></li>
                  <li class="icon-star"></li>
                </ul>
                <p>(131 reviews)</p>
              </div>
              <p class="status icon-clock">Open until<span>6:00PM</span></p>
            </div></a></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a class="item dfr" href="#"><img src="img/central.jpg" alt=""/>
            <div class="description">
              <h3>Central Cannabis</h3>
              <p class="address">1255 Bay Street, Unit #702 Toronto, Ontario</p>
              <div class="rating dfr">
                <ul class="dfr" data-rating="3">
                  <li class="icon-star"></li>
                  <li class="icon-star"></li>
                  <li class="icon-star"></li>
                  <li class="icon-star"></li>
                  <li class="icon-star"></li>
                </ul>
                <p>(131 reviews)</p>
              </div>
              <p class="status icon-hourglass">Coming Soon</p>
            </div></a></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a class="item dfr" href="#"><img src="img/no-image.jpg" alt=""/>
            <div class="description">
              <h3>Central Cannabis</h3>
              <p class="address">1255 Bay Street, Unit #702 Toronto, Ontario</p>
              <div class="rating dfr">
                <ul class="dfr" data-rating="5">
                  <li class="icon-star"></li>
                  <li class="icon-star"></li>
                  <li class="icon-star"></li>
                  <li class="icon-star"></li>
                  <li class="icon-star"></li>
                </ul>
                <p>(131 reviews)</p>
              </div>
              <p class="status icon-lock">Permanently Closed</p>
            </div></a></div>
      </div>
    </div>
  </div>
</section>
