
<footer>
  <div class="footer-block">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dfr">
            <div class="menu-block">
              <h4>Publication Sections</h4>
              <ul class="menu dfr">
                <li><a href="#">Legalization</a></li>
                <li><a href="#">DIY</a></li>
                <li><a href="#">Cannabasics</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">LifeSTYLE</a></li>
                <li><a href="#">Encycloweedia</a></li>
                <li><a href="#">People</a></li>
                <li><a href="#">Stuff</a></li>
                <li><a href="#">Strains</a></li>
                <li><a href="#">Medicine</a></li>
                <li><a href="#">Pot culture</a></li>
                <li><a href="#">Dispensaries</a></li>
                <li><a href="#">Politics</a></li>
              </ul>
            </div>
            <div class="menu-block">
              <h4>About</h4>
              <ul class="menu">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Advertise</a></li>
              </ul>
            </div>
            <div class="menu-block">
              <ul class="soc dfr">
                <li><a class="icon-facebook" href="#"></a></li>
                <li><a class="icon-twitter" href="#"></a></li>
                <li><a class="icon-instagram" href="#"></a></li>
              </ul>
            </div>
            <p>The information provided here is not intended to diagnose, treat or prescribe for any health condition and should not be considered a substitute for professional medical advice/treatment for medical conditions. Always seek the advice of a qualified health care provider regarding any medical condition. Never disregard medical advice or delay seeking it due to something you have read on CannCentral.com. To ensure the information recommended here meets your health requirements you should seek the advice of a qualified health care provider. CannCentral.com and the distinctive CannCentral™ wordmark and cannabis leaf logos are trademarks of CannCentral.com, 2020.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dfr">
            <p class="copyright">Copyright © 2021 HighBurg</p>
            <ul class="menu dfr">
              <li><a href="#">Legal Disclaimer</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
