
<section>
  <div class="forgot-pass">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="forgot-pass-form">
            <form>
              <h3>Enter your email to reset password</h3>
              <div class="input">
                <label>Email</label>
                <input type="email"/>
              </div>
              <div class="input">
                <input class="button" type="submit" value="Send Password"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
