
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dfr">
        <div class="burger"><span></span><span></span><span></span></div>
        <nav class="quadmenu-default_theme quadmenu-align-left quadmenu-divider-hide quadmenu-carets-show quadmenu-background-color quadmenu-mobile-shadow-show quadmenu-dropdown-shadow-show quadmenu-hover-ripple quadmenu-is-embed quadmenu-notouch quadmenu-is-horizontal js quadmenu-v2.0.2" id="quadmenu" data-template="embed" data-theme="default_theme" data-unwrap="1" data-breakpoint="767">
          <div class="quadmenu-container">
            <div class="quadmenu-navbar-collapse collapsed in" id="quadmenu_0">
              <ul class="quadmenu-navbar-nav">
                <li class="quadmenu-item-1518 quadmenu-item quadmenu-item-object-mega quadmenu-item-has-children quadmenu-item-type-mega quadmenu-item-level-0 quadmenu-dropdown quadmenu-has-caret quadmenu-has-title quadmenu-has-link quadmenu-dropdown-right dropdown-maxheight" id="menu-item-1518"><a class="quadmenu-dropdown-toggle hoverintent" href=""><span class="quadmenu-item-content"><span class="quadmenu-caret"></span><span class="quadmenu-text hover t_1000">menu</span></span></a>
                  <div class="quadmenu_btt t_300 quadmenu-dropdown-menu quadmenu-dropdown-stretch-boxed" id="dropdown-1518">
                    <ul class="quadmenu-row ps-container ps-theme-default" data-ps-id="ed6eb218-ca1b-3c59-2781-c09b69a23e05">
                      <li class="quadmenu-item-1519 quadmenu-item quadmenu-item-object-column quadmenu-item-has-children quadmenu-item-type-column col-xs-12 col-sm-8" id="menu-item-1519">
                        <div id="dropdown-1519">
                          <ul>
                            <li class="quadmenu-item-1523 quadmenu-item quadmenu-item-object-widget quadmenu-item-type-widget" id="menu-item-1523">
                              <div class="quadmenu-item-widget widget widget_nav_menu">
                                <div class="menu-mega-ferst-colums-container">
                                  <ul class="menu" id="menu-mega-ferst-colums">
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1463" id="menu-item-1463"><a href="#">News</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1464" id="menu-item-1464"><a href="#">Jaw-Dropping Headlines</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1465" id="menu-item-1465"><a href="#">Community</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1466" id="menu-item-1466"><a href="#">Legislation / Weekly Round up</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1467" id="menu-item-1467"><a href="#">Medicine</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1468" id="menu-item-1468"><a href="#">Business</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1469" id="menu-item-1469"><a href="#">Politics</a></li>
                                  </ul>
                                </div>
                              </div>
                            </li>
                            <li class="quadmenu-item-1524 quadmenu-item quadmenu-item-object-widget quadmenu-item-type-widget" id="menu-item-1524">
                              <div class="quadmenu-item-widget widget widget_nav_menu">
                                <div class="menu-mega-two-colums-container">
                                  <ul class="menu" id="menu-mega-two-colums">
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1475" id="menu-item-1475"><a href="#">Reviews</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1470" id="menu-item-1470"><a href="#">Strains</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1471" id="menu-item-1471"><a href="#">Products</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1472" id="menu-item-1472"><a href="#">Brands</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1473" id="menu-item-1473"><a href="#">Dispensaries</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1474" id="menu-item-1474"><a href="#">Bars & Restaurants</a></li>
                                  </ul>
                                </div>
                              </div>
                            </li>
                            <li class="quadmenu-item-1524 quadmenu-item quadmenu-item-object-widget quadmenu-item-type-widget" id="menu-item-1524">
                              <div class="quadmenu-item-widget widget widget_nav_menu">
                                <div class="menu-mega-two-colums-container">
                                  <ul class="menu" id="menu-mega-two-colums">
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1475" id="menu-item-1475"><a href="#">Cannabis info</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1470" id="menu-item-1470"><a href="#">Cannabasics</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1471" id="menu-item-1471"><a href="#">Encycloweedia</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1472" id="menu-item-1472"><a href="#">Strains</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1473" id="menu-item-1473"><a href="#">Dispensaries</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1474" id="menu-item-1474"><a href="#">Manufacturers</a></li>
                                  </ul>
                                </div>
                              </div>
                            </li>
                            <li class="quadmenu-item-1523 quadmenu-item quadmenu-item-object-widget quadmenu-item-type-widget" id="menu-item-1523">
                              <div class="quadmenu-item-widget widget widget_nav_menu">
                                <div class="menu-mega-ferst-colums-container">
                                  <ul class="menu" id="menu-mega-ferst-colums">
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1463" id="menu-item-1463"><a href="#">Lifestyle</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1464" id="menu-item-1464"><a href="#">Pot Culture</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1465" id="menu-item-1465"><a href="#">DIY</a></li>
                                  </ul>
                                </div>
                              </div>
                            </li>
                            <li class="quadmenu-item-1524 quadmenu-item quadmenu-item-object-widget quadmenu-item-type-widget" id="menu-item-1524">
                              <div class="quadmenu-item-widget widget widget_nav_menu">
                                <div class="menu-mega-two-colums-container">
                                  <ul class="menu" id="menu-mega-two-colums">
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1475" id="menu-item-1475"><a href="#">Health & Wellness</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1470" id="menu-item-1470"><a href="#">Treatments</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1471" id="menu-item-1471"><a href="#">Science</a></li>
                                  </ul>
                                </div>
                              </div>
                            </li>
                            <li class="quadmenu-item-1524 quadmenu-item quadmenu-item-object-widget quadmenu-item-type-widget" id="menu-item-1524">
                              <div class="quadmenu-item-widget widget widget_nav_menu">
                                <div class="menu-mega-two-colums-container">
                                  <ul class="menu" id="menu-mega-two-colums">
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1475" id="menu-item-1475"><a href="#">Events</a></li>
                                  </ul>
                                </div>
                              </div>
                            </li>
                            <li class="quadmenu-item-1524 quadmenu-item quadmenu-item-object-widget quadmenu-item-type-widget" id="menu-item-1524">
                              <div class="quadmenu-item-widget widget widget_nav_menu">
                                <div class="menu-mega-two-colums-container">
                                  <ul class="menu" id="menu-mega-two-colums">
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1475" id="menu-item-1475"><a href="#">Recipes</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1470" id="menu-item-1470"><a href="#">Food & Bev</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1471" id="menu-item-1471"><a href="#">Topicals</a></li>
                                  </ul>
                                </div>
                              </div>
                            </li>
                            <li class="quadmenu-item-1546 quadmenu-item quadmenu-item-object-widget quadmenu-item-type-widget" id="menu-item-1546">
                              <div class="quadmenu-item-widget widget widget_custom_html">
                                <div class="textwidget custom-html-widget">
                                  <div class="wpcf7" id="wpcf7-f1338-o1">
                                    <form class="wpcf7-form">
                                      <div class="subscribe icon-scissors">
                                        <h3>The Weekly BuzZz</h3>
                                        <p>Subscribe to the Weekly Buzz and never miss another marijuana moment!</p>
                                        <div class="input"><span class="wpcf7-form-control-wrap your-email">
                                            <input class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" type="email" name="your-email" value="" size="40" aria-required="true" aria-invalid="false" placeholder="E-mail *"/></span></div>
                                        <div class="input">
                                          <input class="wpcf7-form-control wpcf7-submit button purple" type="submit" value="subscribe"/>
                                        </div>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </li>
                      <li class="quadmenu-item-1522 quadmenu-item quadmenu-item-object-column quadmenu-item-has-children quadmenu-item-type-column col-xs-12 col-sm-4" id="menu-item-1522">
                        <div id="dropdown-1522">
                          <ul>
                            <li class="quadmenu-item-1527 quadmenu-item quadmenu-item-object-widget quadmenu-item-type-widget" id="menu-item-1527">
                              <div class="quadmenu-item-widget widget widget_custom_html">
                                <div class="textwidget custom-html-widget"><a class="logo" href=""><img src="img/now-logo.svg" alt=""/></a>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p><a class="link" href="">Learn More</a>
                                </div>
                              </div>
                            </li>
                            <li class="quadmenu-item-1528 quadmenu-item quadmenu-item-object-widget quadmenu-item-type-widget" id="menu-item-1528">
                              <div class="quadmenu-item-widget widget widget_custom_html">
                                <div class="textwidget custom-html-widget"><a class="logo" href=""><img src="img/esports.svg" alt=""/></a>
                                  <p>eCentral Sports is the Homebase for the creative class eSports fan in search of the latest news, cultural coverage, insights from experts, event access, stats, and local experience guides.</p><a class="link" href="">Learn More</a>
                                </div>
                              </div>
                            </li>
                            <li class="quadmenu-item-1529 quadmenu-item quadmenu-item-object-widget quadmenu-item-type-widget" id="menu-item-1529">
                              <div class="quadmenu-item-widget widget widget_custom_html">
                                <div class="textwidget custom-html-widget"><a class="logo" href=""><img src="img/straight.png" alt=""/></a>
                                  <p>Established as the news, lifestyle, and entertainment weekly in Vancouver for 50 years, the Georgia Straight is an integral part of the active urban West Coast lifestyle with over 1.081 million readers per week.</p><a class="link" href="">Learn More</a>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </li>
                      <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;">
                        <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                      </div>
                      <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;">
                        <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                      </div>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav><a class="logo" href="/"><img src="img/logo.svg" alt=""/></a>
        <ul class="menu dfr">
          <li>
            <p>What happened?????</p>
          </li>
        </ul>
        <ul class="soc dfr">
          <li><a class="icon-facebook" href="#"></a></li>
          <li><a class="icon-twitter" href="#"></a></li>
          <li><a class="icon-instagram" href="#"></a></li>
        </ul>
        <div class="checkbox-color">
          <input id="black-color" type="checkbox"/>
          <label class="icon-moon" for="black-color"></label>
        </div>
        <form class="search" id="searchform">
          <input type="text" placeholder="Search and hit enter"/>
          <button class="icon-search"></button>
        </form>
        <ul class="user dfr">
          <li><a class="icon-user" href="#"></a>
            <ul class="submenu">
              <li><a href="">Profile</a></li>
              <li><a href="">Log Out</a></li>
            </ul>
          </li>
          <!--lia(href="#") Log In
          -->
          <!--lia(href="#") Sign Up
          -->
        </ul>
      </div>
    </div>
  </div>
</header>
