
<div class="right-sidebar">
  <div class="top-users">
    <h3>Top 10 UGC Users</h3>
    <ol>
      <li><a class="photo" href="#"><img src="img/photo.jpg" alt=""/></a>
        <div class="desc">
          <h3 class="name"> <a href="#">David Lebovskiy<span>15,520 Pts</span></a></h3>
        </div>
      </li>
      <li><a class="photo" href="#"><img src="img/photo.jpg" alt=""/></a>
        <div class="desc">
          <h3 class="name"> <a href="#">Beth Hawkins<span>15,520 Pts</span></a></h3>
        </div>
      </li>
      <li><a class="photo" href="#"><img src="img/photo.jpg" alt=""/></a>
        <div class="desc">
          <h3 class="name"> <a href="#">Gregory Watson<span>15,520 Pts</span></a></h3>
        </div>
      </li>
      <li><a class="photo" href="#"><img src="img/photo.jpg" alt=""/></a>
        <div class="desc">
          <h3 class="name"> <a href="#">Shawn Cooper<span>15,520 Pts </span></a></h3>
        </div>
      </li>
      <li><a class="photo" href="#"><img src="img/photo.jpg" alt=""/></a>
        <div class="desc">
          <h3 class="name"> <a href="#">Bessie Russell<span>15,520 Pts</span></a></h3>
        </div>
      </li>
      <li><a class="photo" href="#"><img src="img/photo.jpg" alt=""/></a>
        <div class="desc">
          <h3 class="name"> <a href="#">Ronald Mccoy<span>15,520 Pts</span></a></h3>
        </div>
      </li>
      <li><a class="photo" href="#"><img src="img/photo.jpg" alt=""/></a>
        <div class="desc">
          <h3 class="name"> <a href="#">Albert Henry<span>15,520 Pts</span></a></h3>
        </div>
      </li>
      <li><a class="photo" href="#"><img src="img/photo.jpg" alt=""/></a>
        <div class="desc">
          <h3 class="name"> <a href="#">Jorge Black<span>15,520 Pts</span></a></h3>
        </div>
      </li>
      <li><a class="photo" href="#"><img src="img/photo.jpg" alt=""/></a>
        <div class="desc">
          <h3 class="name"> <a href="#">Esther Williamson<span>15,520 Pts</span></a></h3>
        </div>
      </li>
      <li><a class="photo" href="#"><img src="img/photo.jpg" alt=""/></a>
        <div class="desc">
          <h3 class="name"> <a href="#">Diane Simmmons<span>15,520 Pts</span></a></h3>
        </div>
      </li>
      <li><a class="photo" href="#"><img src="img/photo.jpg" alt=""/></a>
        <div class="desc">
          <h3 class="name"> <a href="#">Johnatan Pigeontius <span>15,520 Pts</span></a></h3>
        </div>
      </li>
    </ol>
    <div class="user" data-numbering="535"><a class="photo" href="#"><img src="img/photo.jpg" alt=""/></a>
      <div class="desc">
        <h3 class="name"> <a href="#">Diane Simmmons<span>15,520 Pts</span></a></h3>
      </div>
    </div>
  </div>
</div>
