
<section>
  <div class="search-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="search">
            <input type="text" placeholder="Enter What You Are Looking For"/>
            <button class="icon-search"></button>
          </div>
          <ul class="search-filter dfr">
            <li class="active"> <a href="#">All</a></li>
            <li><a href="#">EDITORIAL</a></li>
            <li><a href="#">Strains</a></li>
            <li><a href="#">Dispensaries</a></li>
            <li><a href="#">Encycloweedia</a></li>
            <li><a href="#">Events</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="search-results">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <p class="results">page 1 of 430 results</p>
          <ul class="items">
            <li class="icon dfr"><img src="icons/encycloweedia.svg" alt=""/>
              <div class="description">
                <h3>When your fall cold hits (soon), should you smoke weed? </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              </div><a class="link" href="#"></a>
            </li>
            <li class="icon dfr"><img src="icons/marker.svg" alt=""/>
              <div class="description">
                <h3>When your fall cold hits (soon), should you smoke weed? </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              </div><a class="link" href="#"></a>
            </li>
            <li class="icon dfr"><img src="icons/sleepy.svg" alt=""/>
              <div class="description">
                <h3>When your fall cold hits (soon), should you smoke weed? </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
              </div><a class="link" href="#"></a>
            </li>
            <li class="icon dfr"><img src="icons/sleepy.svg" alt=""/>
              <div class="description">
                <h3>When your fall cold hits (soon), should you smoke weed? </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
              </div><a class="link" href="#"></a>
            </li>
            <li class="photo dfr"><img src="img/category.jpg" alt=""/>
              <div class="description">
                <h3>When your fall cold hits (soon), should you smoke weed? </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <ul class="meta dfr">
                  <li> <a href="#"><span>BY</span>CANNCENTRALEDITOR</a></li>
                  <li>April 13, 2020<i class="icon-clock"></i></li>
                </ul>
              </div><a class="link" href="#"></a>
            </li>
            <li class="photo dfr"><img src="img/category.jpg" alt=""/>
              <div class="description">
                <h3>When your fall cold hits (soon), should you smoke weed? </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <ul class="meta dfr">
                  <li><a href="#"><span>BY</span>CANNCENTRALEDITOR</a></li>
                  <li>April 13, 2020<i class="icon-clock"></i></li>
                </ul>
              </div><a class="link" href="#"></a>
            </li>
            <li class="photo dfr"><img src="img/category.jpg" alt=""/>
              <div class="description">
                <h3>When your fall cold hits (soon), should you smoke weed? </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <ul class="meta dfr">
                  <li><a href="#"><span>BY</span>CANNCENTRALEDITOR</a></li>
                  <li>April 13, 2020<i class="icon-clock"></i></li>
                </ul>
              </div><a class="link" href="#"></a>
            </li>
          </ul>
          <div class="wp-pagenavi">
            <p>Pages:</p><a class="prevpostslink icon-arrow-left" href="#"></a><span class="current">2</span><a class="page larger" href="#">3</a><a class="page larger" href="#">4</a><a class="page larger" href="#">5</a><a class="page larger" href="#">6</a><span class="extend">...</span><a class="larger page" href="#">10</a><a class="nextpostslink icon-arrow-right" href="#"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
