
<section>
  <div class="sign-up">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
          <div class="sign-up-form">
            <form>
              <h3>Sign up</h3>
              <div class="input">
                <label>Email</label><sub>*</sub>
                <input type="email"/>
              </div>
              <div class="input">
                <label>Password</label><sub>*</sub>
                <input type="password"/>
              </div>
              <div class="input">
                <label>Confirm Password</label><sub>*</sub>
                <input type="password"/>
              </div>
              <div class="checkbox">
                <input id="privacy-policy" type="checkbox"/>
                <label class="icon-check-mark" for="privacy-policy">Privacy policy</label>
              </div>
              <div class="input">
                <input class="button" type="submit" value="Sign Up"/>
              </div>
              <p>Already Have an account?  <a href="#">Log In </a></p>
              <div class="soc">
                <h4>social media sign up plugin</h4>
                <ul>
                  <li><a href="#"><img src="img/google-logo.svg" alt=""/></a></li>
                  <li><a href="#"><img src="img/facebook-logo.svg" alt=""/></a></li>
                  <li><a href="#"><img src="img/twitter-logo.svg" alt=""/></a></li>
                </ul>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
          <div class="sign-up-description">
            <h3>Sign up, rank up, become the contributor</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="rating-user">
              <ul>
                <li><i class="icon-newbie"></i>
                  <p>Newbie</p>
                </li>
                <li><i class="icon-rookie"></i>
                  <p>Rookie</p>
                </li>
                <li><i class="icon-verified"></i>
                  <p>Verified</p>
                </li>
                <li><i class="icon-moderator"></i>
                  <p>Moderator</p>
                </li>
              </ul><i class="icon-info" data-toggle="modal" data-target=".info-description"></i>
            </div>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
