
<section>
  <div class="banner mini">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1>Explore Strains</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="strains">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dfrt">
          <div class="sidebar">
            <div class="filter">
              <div class="dropdown">
                <p class="title icon-down">Type</p>
                <ul>
                  <li>
                    <div class="checkbox">
                      <input id="all-type" type="checkbox"/>
                      <label class="icon-check-mark" for="all-type">All</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="hybrid" type="checkbox"/>
                      <label class="icon-check-mark" for="hybrid">Hybrid</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="indica" type="checkbox"/>
                      <label class="icon-check-mark" for="indica">Indica</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="sativa" type="checkbox"/>
                      <label class="icon-check-mark" for="sativa">Sativa</label>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="dropdown">
                <p class="title icon-down">Vibes</p>
                <ul>
                  <li>
                    <div class="checkbox">
                      <input id="all-vibes" type="checkbox"/>
                      <label class="icon-check-mark" for="all-vibes">All</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="vibes-chill" type="checkbox"/>
                      <label class="icon-check-mark" for="vibes-chill">Chill</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="vibes-creative" type="checkbox"/>
                      <label class="icon-check-mark" for="vibes-creative">Creative</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="vibes-energized" type="checkbox"/>
                      <label class="icon-check-mark" for="vibes-energized">Energized</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="vibes-focused" type="checkbox"/>
                      <label class="icon-check-mark" for="vibes-focused">Focused</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="vibes-higher" type="checkbox"/>
                      <label class="icon-check-mark" for="vibes-higher">Higher</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="vibes-sleepy" type="checkbox"/>
                      <label class="icon-check-mark" for="vibes-sleepy">Sleepy</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="vibes-turned-on" type="checkbox"/>
                      <label class="icon-check-mark" for="vibes-turned-on">Turned On</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="vibes-relief" type="checkbox"/>
                      <label class="icon-check-mark" for="vibes-relief">Relief</label>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="dropdown">
                <p class="title icon-down">Medical</p>
                <ul>
                  <li>
                    <div class="checkbox">
                      <input id="all-medical" type="checkbox"/>
                      <label class="icon-check-mark" for="all-medical">All</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="medical-body-pain" type="checkbox"/>
                      <label class="icon-check-mark" for="medical-body-pain">Body Pain</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="medical-cramps" type="checkbox"/>
                      <label class="icon-check-mark" for="medical-cramps">Cramps</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="medical-depression" type="checkbox"/>
                      <label class="icon-check-mark" for="medical-depression">Depression</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="medical-eye-pressure" type="checkbox"/>
                      <label class="icon-check-mark" for="medical-eye-pressure">Eye Pressure</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="medical-fatigue" type="checkbox"/>
                      <label class="icon-check-mark" for="medical-fatigue">Fatigue</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="medical-headaches" type="checkbox"/>
                      <label class="icon-check-mark" for="medical-headaches">Headaches</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="medical-inflammation" type="checkbox"/>
                      <label class="icon-check-mark" for="medical-inflammation">Inflammation</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="medical-insomnia" type="checkbox"/>
                      <label class="icon-check-mark" for="medical-insomnia">Insomnia</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="medical-lack-of-appetite" type="checkbox"/>
                      <label class="icon-check-mark" for="medical-lack-of-appetite">Lack of Appetite</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="medical-muscle-spasms" type="checkbox"/>
                      <label class="icon-check-mark" for="medical-muscle-spasms">Muscle Spasms</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="medical-nausea" type="checkbox"/>
                      <label class="icon-check-mark" for="medical-nausea">Nausea</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="medical-seizures" type="checkbox"/>
                      <label class="icon-check-mark" for="medical-seizures">Seizures</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="medical-spasticity" type="checkbox"/>
                      <label class="icon-check-mark" for="medical-spasticity">Spasticity</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="medical-stress" type="checkbox"/>
                      <label class="icon-check-mark" for="medical-stress">Stress</label>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="dropdown">
                <p class="title icon-down">Flavours</p>
                <ul>
                  <li>
                    <div class="checkbox">
                      <input id="all-flavours" type="checkbox"/>
                      <label class="icon-check-mark" for="all-flavours">All</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-ammonia" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-ammonia">Ammonia</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-apple" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-apple">Apple</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-apricot" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-apricot">Apricot</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-berry" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-berry">Berry</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-blue-cheese" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-blue-cheese">Blue Cheese</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-blueberry" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-blueberry">Blueberry</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-butter" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-butter">Butter</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-cheese" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-cheese">Cheese</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-chemical" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-chemical">Chemical</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-chestnut" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-chestnut">Chestnut</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-citrus" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-citrus">Citrus</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-coffee" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-coffee">Coffee</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-diesel" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-diesel">Diesel</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-earthy" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-earthy">Earthy</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-flowery" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-flowery">Flowery</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-grape" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-grape">Grape</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-grapefruit" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-grapefruit">Grapefruit</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-honey" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-honey">Honey</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-lavender" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-lavender">Lavender</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-lemon" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-lemon">Lemon</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-lime" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-lime">Lime</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-mango" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-mango">Mango</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-menthol" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-menthol">Menthol</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-mint" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-mint">Mint</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-nutty" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-nutty">Nutty</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-orange" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-orange">Orange</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-peach" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-peach">Peach</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-pear" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-pear">Pear</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-pepper" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-pepper">Pepper</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-pine" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-pine">Pine</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-pineapple" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-pineapple">Pineapple</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-plum" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-plum">Plum</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-pungent" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-pungent">Pungent</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-rose" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-rose">Rose</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-sage" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-sage">Sage</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-skunk" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-skunk">Skunk</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-spicy" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-spicy">Spicy</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-strawberry" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-strawberry">Strawberry</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-sweet" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-sweet">Sweet</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-tar" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-tar">Tar</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-tea" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-tea">Tea</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-tobacco" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-tobacco">Tobacco</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-tree-fruit" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-tree-fruit">Tree Fruit</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-tropical" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-tropical">Tropical</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-vanilla" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-vanilla">Vanilla</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-violet" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-violet">Violet</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <input id="flavours-woody" type="checkbox"/>
                      <label class="icon-check-mark" for="flavours-woody">Woody</label>
                    </div>
                  </li>
                </ul>
              </div><a class="clear-filter" href="#">Clear All Filters</a>
            </div>
          </div>
          <div class="content">
            <div class="strains-items dfr"><a class="strains-item" href="#" style="color:#01A52A;">
                <p class="type" style="background-color:#01A52A;">Sativa</p><img src="img/kings-primary.jpg" alt=""/>
                <h3>Alaskin Thunderfuck (Extra Large)</h3>
                <div class="rating dfr">
                  <ul class="dfr" data-rating="4">
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                  </ul>
                  <p>(131 reviews)</p>
                </div>
                <ul class="meta dfr">
                  <li class="icon-pictures">123</li>
                  <li class="icon-views">11,523</li>
                </ul></a><a class="strains-item" href="#" style="color:#7A48E1;">
                <p class="type" style="background-color:#7A48E1;">Indica</p><img src="img/kings-primary-2.jpg" alt=""/>
                <h3>Alaskin Thunderfuck (Extra Large)</h3>
                <div class="rating dfr">
                  <ul class="dfr" data-rating="4">
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                  </ul>
                  <p>(131 reviews)</p>
                </div>
                <ul class="meta dfr">
                  <li class="icon-pictures">123</li>
                  <li class="icon-views">11,523</li>
                </ul></a><a class="strains-item" href="#" style="color:#FF7200;">
                <p class="type" style="background-color:#FF7200;">Hybrid</p><img src="img/kings-primary-3.jpg" alt=""/>
                <h3>Alaskin Thunderfuck (Extra Large)</h3>
                <div class="rating dfr">
                  <ul class="dfr" data-rating="4">
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                  </ul>
                  <p>(131 reviews)</p>
                </div>
                <ul class="meta dfr">
                  <li class="icon-pictures">123</li>
                  <li class="icon-views">11,523</li>
                </ul></a><a class="strains-item" href="#" style="color:#01A52A;">
                <p class="type" style="background-color:#01A52A;">Sativa</p><img src="img/kings-primary.jpg" alt=""/>
                <h3>Alaskin Thunderfuck (Extra Large)</h3>
                <div class="rating dfr">
                  <ul class="dfr" data-rating="4">
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                  </ul>
                  <p>(131 reviews)</p>
                </div>
                <ul class="meta dfr">
                  <li class="icon-pictures">123</li>
                  <li class="icon-views">11,523</li>
                </ul></a><a class="strains-item" href="#" style="color:#7A48E1;">
                <p class="type" style="background-color:#7A48E1;">Indica</p><img src="img/kings-primary-2.jpg" alt=""/>
                <h3>Alaskin Thunderfuck (Extra Large)</h3>
                <div class="rating dfr">
                  <ul class="dfr" data-rating="4">
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                  </ul>
                  <p>(131 reviews)</p>
                </div>
                <ul class="meta dfr">
                  <li class="icon-pictures">123</li>
                  <li class="icon-views">11,523</li>
                </ul></a><a class="strains-item" href="#" style="color:#FF7200;">
                <p class="type" style="background-color:#FF7200;">Hybrid</p><img src="img/kings-primary-3.jpg" alt=""/>
                <h3>Alaskin Thunderfuck (Extra Large)</h3>
                <div class="rating dfr">
                  <ul class="dfr" data-rating="4">
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                  </ul>
                  <p>(131 reviews)</p>
                </div>
                <ul class="meta dfr">
                  <li class="icon-pictures">123</li>
                  <li class="icon-views">11,523</li>
                </ul></a><a class="strains-item" href="#" style="color:#01A52A;">
                <p class="type" style="background-color:#01A52A;">Sativa</p><img src="img/kings-primary.jpg" alt=""/>
                <h3>Alaskin Thunderfuck (Extra Large)</h3>
                <div class="rating dfr">
                  <ul class="dfr" data-rating="4">
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                  </ul>
                  <p>(131 reviews)</p>
                </div>
                <ul class="meta dfr">
                  <li class="icon-pictures">123</li>
                  <li class="icon-views">11,523</li>
                </ul></a><a class="strains-item" href="#" style="color:#7A48E1;">
                <p class="type" style="background-color:#7A48E1;">Indica</p><img src="img/kings-primary-2.jpg" alt=""/>
                <h3>Alaskin Thunderfuck (Extra Large)</h3>
                <div class="rating dfr">
                  <ul class="dfr" data-rating="4">
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                  </ul>
                  <p>(131 reviews)</p>
                </div>
                <ul class="meta dfr">
                  <li class="icon-pictures">123</li>
                  <li class="icon-views">11,523</li>
                </ul></a><a class="strains-item" href="#" style="color:#FF7200;">
                <p class="type" style="background-color:#FF7200;">Hybrid</p><img src="img/kings-primary-3.jpg" alt=""/>
                <h3>Alaskin Thunderfuck (Extra Large)</h3>
                <div class="rating dfr">
                  <ul class="dfr" data-rating="4">
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                  </ul>
                  <p>(131 reviews)</p>
                </div>
                <ul class="meta dfr">
                  <li class="icon-pictures">123</li>
                  <li class="icon-views">11,523</li>
                </ul></a><a class="strains-item" href="#" style="color:#01A52A;">
                <p class="type" style="background-color:#01A52A;">Sativa</p><img src="img/kings-primary.jpg" alt=""/>
                <h3>Alaskin Thunderfuck (Extra Large)</h3>
                <div class="rating dfr">
                  <ul class="dfr" data-rating="4">
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                  </ul>
                  <p>(131 reviews)</p>
                </div>
                <ul class="meta dfr">
                  <li class="icon-pictures">123</li>
                  <li class="icon-views">11,523</li>
                </ul></a><a class="strains-item" href="#" style="color:#7A48E1;">
                <p class="type" style="background-color:#7A48E1;">Indica</p><img src="img/kings-primary-2.jpg" alt=""/>
                <h3>Alaskin Thunderfuck (Extra Large)</h3>
                <div class="rating dfr">
                  <ul class="dfr" data-rating="4">
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                  </ul>
                  <p>(131 reviews)</p>
                </div>
                <ul class="meta dfr">
                  <li class="icon-pictures">123</li>
                  <li class="icon-views">11,523</li>
                </ul></a><a class="strains-item" href="#" style="color:#FF7200;">
                <p class="type" style="background-color:#FF7200;">Hybrid</p><img src="img/kings-primary-3.jpg" alt=""/>
                <h3>Alaskin Thunderfuck (Extra Large)</h3>
                <div class="rating dfr">
                  <ul class="dfr" data-rating="4">
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                  </ul>
                  <p>(131 reviews)</p>
                </div>
                <ul class="meta dfr">
                  <li class="icon-pictures">123</li>
                  <li class="icon-views">11,523</li>
                </ul></a><a class="load-more" href="#">Load 12 more</a></div>
            <div class="wp-pagenavi">
              <p>Pages:</p><a class="prevpostslink icon-arrow-left" href="#"></a><span class="current">2</span><a class="page larger" href="#">3</a><a class="page larger" href="#">4</a><a class="page larger" href="#">5</a><a class="page larger" href="#">6</a><span class="extend">...</span><a class="larger page" href="#">10</a><a class="nextpostslink icon-arrow-right" href="#"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
