
<section>
  <div class="ugc">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <div class="left-sidebar">
            <div class="user">
              <div class="photo"> <img src="img/user.svg" alt=""/></div>
              <h3 class="name">Hey Jonathan!</h3>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%"><span class="sr-only">100 more points to moderator level  </span></div>
              </div>
            </div>
            <div class="buttons"><a class="btn icon-exit" href="#"> </a><a class="btn icon-settings" href="#">Account Settings</a></div>
            <ul class="menu">
              <li class="active"> <a class="icon-activity" href="#" data-notification="4">Activity</a></li>
              <li><a class="icon-strains" href="#">Strains</a></li>
              <li><a class="icon-dispensaries" href="#">Dispensaries</a></li>
              <li><a class="icon-encycloweedia" href="#">Encycloweedia</a></li>
              <li><a class="icon-articles" href="#">Articles</a></li>
              <li><a class="icon-reviews" href="#">Reviews</a></li>
              <li><a class="icon-personal-stats" href="#">Personal Stats</a></li>
              <li><a class="icon-rewards" href="#">Rewards</a></li>
              <li><a class="icon-events" href="#">Events </a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <form class="steps">
            <ul class="multi-step seven">
              <li class="active"><a href="#step-one" data-toggle="tab"></a></li>
              <li><a href="#step-two" data-toggle="tab"></a></li>
              <li><a href="#step-three" data-toggle="tab"></a></li>
              <li><a href="#step-four" data-toggle="tab"></a></li>
              <li><a href="#step-five" data-toggle="tab"></a></li>
              <li><a href="#step-six" data-toggle="tab"></a></li>
              <li><a href="#step-seven" data-toggle="tab"></a></li>
            </ul>
            <!-- Tab panes-->
            <div class="tab-content">
              <div class="tab-pane active" id="step-one">
                <h3>Add new strain Step 1</h3>
                <div class="input">
                  <label>Strain Name</label>
                  <input type="text"/>
                </div>
                <div class="buttons"><a class="button" href="#">Next</a>
                  <input class="button" type="button" value="cancel"/>
                </div>
              </div>
              <div class="tab-pane" id="step-two">
                <h3>Add new strain Step 2</h3>
                <div class="select">
                  <select>
                    <option value="vibe" selected="selected">Select Vibe</option>
                    <option value="vibe-chill">Chill</option>
                    <option value="vibe-creative">Creative</option>
                    <option value="vibe-energized">Energized</option>
                    <option value="vibe-focused">Focused</option>
                    <option value="vibe-higher">Higher</option>
                    <option value="vibe-sleepy">Sleepy</option>
                    <option value="vibe-turned-on">Turned On</option>
                    <option value="vibe-relief">Relief</option>
                  </select>
                </div>
                <div class="buttons"><a class="button" href="#">Next</a><a class="button" href="#">Back</a></div>
              </div>
              <div class="tab-pane" id="step-three">
                <h3>Add new strain Step 3</h3>
                <div class="select">
                  <select>
                    <option value="#" selected="selected">Select Attributes</option>
                    <option value="#">Body Pain</option>
                    <option value="#">Cramps</option>
                    <option value="#">Depression</option>
                    <option value="#">Eye Pressure</option>
                    <option value="#">Fatigue</option>
                    <option value="#">Headaches</option>
                    <option value="#">Inflammation</option>
                    <option value="#">Insomnia</option>
                    <option value="#">Lack of Appetite</option>
                    <option value="#">Muscle Spasms</option>
                    <option value="#">Nausea</option>
                    <option value="#">Seizures</option>
                    <option value="#">Spasticity</option>
                    <option value="#">Stress</option>
                  </select>
                </div>
                <div class="buttons"><a class="button" href="#">Next</a><a class="button" href="#">Back</a></div>
              </div>
              <div class="tab-pane" id="step-four">
                <h3>Add new strain Step 4</h3>
                <div class="select">
                  <select>
                    <option value="#" selected="selected">Select Type</option>
                    <option value="type-hybrid">Hybrid</option>
                    <option value="type-indica">Indica</option>
                    <option value="type-sativa">Sativa</option>
                  </select>
                </div>
                <div class="buttons"><a class="button" href="#">Next</a><a class="button" href="#">Back</a></div>
              </div>
              <div class="tab-pane" id="step-five">
                <h3>Add new strain Step 5</h3>
                <div class="select">
                  <select>
                    <option value="#" selected="selected">Select Flavour</option>
                    <option value="flavour-ammonia">Ammonia</option>
                    <option value="flavour-apple">Apple</option>
                    <option value="flavour-apricot">Apricot</option>
                    <option value="flavour-berry">Berry</option>
                    <option value="flavour-blue Cheese">Blue Cheese</option>
                    <option value="flavour-blueberry">Blueberry</option>
                    <option value="flavour-butter">Butter</option>
                    <option value="flavour-cheese">Cheese</option>
                    <option value="flavour-chemical">Chemical</option>
                    <option value="flavour-chestnut">Chestnut</option>
                    <option value="flavour-citrus">Citrus</option>
                    <option value="flavour-coffee">Coffee</option>
                    <option value="flavour-diesel">Diesel</option>
                    <option value="flavour-earthy">Earthy</option>
                    <option value="flavour-flowery">Flowery</option>
                    <option value="flavour-grape">Grape</option>
                    <option value="flavour-grapefruit">Grapefruit</option>
                    <option value="flavour-honey">Honey</option>
                    <option value="flavour-lavender">Lavender</option>
                    <option value="flavour-lemon">Lemon</option>
                    <option value="flavour-lime">Lime</option>
                    <option value="flavour-mango">Mango</option>
                    <option value="flavour-menthol">Menthol</option>
                    <option value="flavour-mint">Mint</option>
                    <option value="flavour-nutty">Nutty</option>
                    <option value="flavour-orange">Orange</option>
                    <option value="flavour-peach">Peach</option>
                    <option value="flavour-pear">Pear</option>
                    <option value="flavour-pepper">Pepper</option>
                    <option value="flavour-pine">Pine</option>
                    <option value="flavour-pineapple">Pineapple</option>
                    <option value="flavour-plum">Plum</option>
                    <option value="flavour-pungent">Pungent</option>
                    <option value="flavour-pose">Rose</option>
                    <option value="flavour-sage">Sage</option>
                    <option value="flavour-skunk">Skunk</option>
                    <option value="flavour-spicy">Spicy</option>
                    <option value="flavour-strawberry">Strawberry</option>
                    <option value="flavour-sweet">Sweet</option>
                    <option value="flavour-tar">Tar</option>
                    <option value="flavour-tea">Tea</option>
                    <option value="flavour-tobacco">Tobacco</option>
                    <option value="flavour-tree Fruit">Tree Fruit</option>
                    <option value="flavour-tropical">Tropical</option>
                    <option value="flavour-vanilla">Vanilla</option>
                    <option value="flavour-violet">Violet</option>
                    <option value="flavour-woody">Woody</option>
                  </select>
                </div>
                <div class="buttons"><a class="button" href="#">Next</a><a class="button" href="#">Back</a></div>
              </div>
              <div class="tab-pane" id="step-six">
                <h3>Add new strain Step 6</h3>
                <div class="add-file">
                  <input id="add-file" type="file"/>
                  <label class="icon-plus" for="add-file">Profile Photo </label>
                </div>
                <div class="textarea">
                  <label>Description</label>
                  <textarea> </textarea>
                </div>
                <div class="buttons"><a class="button" href="#">Next</a><a class="button" href="#">Back</a></div>
              </div>
              <div class="tab-pane" id="step-seven">
                <h3></h3><img src="img/banner.jpg" alt="#"/>
                <ul>
                  <li>Strain name</li>
                  <li>Type</li>
                  <li>Vibe</li>
                  <li>Attributes</li>
                  <li>Flavour</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet sodales lorem sed lacinia. Nullam sodales eros augue, eu accumsan nunc placerat et. Sed et porta leo. Fusce risus turpis, mattis et tellus vitae, euismod eleifend eros. In bibendum nunc ac justo venenatis, placerat vulputate mauris feugiat. Nunc cursus lectus ut imperdiet tincidunt.</p>
                <div class="buttons">
                  <input class="button" type="submit" value="Publish"/><a class="button" href="#">Back</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
