
<section>
  <div class="ugc">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <div class="left-sidebar">
            <div class="user">
              <div class="photo"> <img src="img/user.svg" alt=""/></div>
              <h3 class="name">Hey Jonathan!</h3>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%"><span class="sr-only">100 more points to moderator level  </span></div>
              </div>
            </div>
            <div class="buttons"><a class="btn icon-exit" href="#"> </a><a class="btn icon-settings" href="#">Account Settings</a></div>
            <ul class="menu">
              <li class="active"> <a class="icon-activity" href="#" data-notification="4">Activity</a></li>
              <li><a class="icon-strains" href="#">Strains</a></li>
              <li><a class="icon-dispensaries" href="#">Dispensaries</a></li>
              <li><a class="icon-encycloweedia" href="#">Encycloweedia</a></li>
              <li><a class="icon-articles" href="#">Articles</a></li>
              <li><a class="icon-reviews" href="#">Reviews</a></li>
              <li><a class="icon-personal-stats" href="#">Personal Stats</a></li>
              <li><a class="icon-rewards" href="#">Rewards</a></li>
              <li><a class="icon-events" href="#">Events </a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <form class="steps">
            <ul class="multi-step five">
              <li class="active"><a href="#step-one" data-toggle="tab"></a></li>
              <li><a href="#step-two" data-toggle="tab"></a></li>
              <li><a href="#step-three" data-toggle="tab"></a></li>
              <li><a href="#step-four" data-toggle="tab"></a></li>
              <li><a href="#step-five" data-toggle="tab"></a></li>
            </ul>
            <!-- Tab panes-->
            <div class="tab-content">
              <div class="tab-pane active" id="step-one">
                <h3>Add New Dispensary Step 1: NAME</h3>
                <div class="input">
                  <label>Dispensary Name</label>
                  <input type="text"/>
                </div>
                <div class="buttons"><a class="button" href="#">Next</a>
                  <input class="button" type="button" value="cancel"/>
                </div>
              </div>
              <div class="tab-pane" id="step-two">
                <h3>Add New Dispensary Step 2: Location</h3>
                <div class="input">
                  <label>City*</label>
                  <input type="text"/>
                </div>
                <div class="input">
                  <label>Address*</label>
                  <input type="text"/>
                </div>
                <div class="input">
                  <label>State*</label>
                  <input type="text"/>
                </div>
                <div class="input">
                  <label>Latitude</label>
                  <input type="text"/>
                </div>
                <div class="input">
                  <label>Longtitude</label>
                  <input type="text"/>
                </div>
                <div class="buttons"><a class="button" href="#">Next</a><a class="button" href="#">Back</a></div>
              </div>
              <div class="tab-pane" id="step-three">
                <h3>Add New Dispensary Step 3: Contact info</h3>
                <div class="input">
                  <label>Email*</label>
                  <input type="email"/>
                </div>
                <div class="input">
                  <label>Zip</label>
                  <input type="text"/>
                </div>
                <div class="input">
                  <label>Phone</label>
                  <input type="tel"/>
                </div>
                <div class="input">
                  <label>Fax</label>
                  <input type="tel"/>
                </div>
                <div class="input">
                  <label>Website</label>
                  <input type="text"/>
                </div>
                <div class="buttons"><a class="button" href="#">Next </a><a class="button" href="#">Back</a></div>
              </div>
              <div class="tab-pane" id="step-four">
                <h3>Add New Dispensary Step 4: other info</h3>
                <div class="add-file">
                  <input id="add-file" type="file"/>
                  <label class="icon-plus" for="add-file">Profile Photo </label>
                </div>
                <div class="input">
                  <label>Embed Video</label>
                  <input type="text"/>
                </div>
                <div class="textarea">
                  <label>Description</label>
                  <textarea> </textarea>
                </div>
                <div class="timepicker">
                  <div class="start-time">
                    <input id="start-time" value="00:00"/>
                    <p>AM</p>
                  </div>
                  <div class="end-time">
                    <input id="end-time" value="00:00"/>
                    <p>PM</p>
                  </div>
                </div>
                <div class="buttons"><a class="button" href="#">Next</a><a class="button" href="#">Back</a></div>
              </div>
              <div class="tab-pane" id="step-five">
                <h3>Final step</h3><img src="img/banner.jpg" alt="#"/>
                <ul>
                  <li class="icon-marker">Toronto, 111 Wellesley St W M7A1A8 Ontario, Canada</li>
                  <li class="icon-link">https://www.ocs.ca/</li>
                  <li class="icon-mail">ocs@gmail.com</li>
                  <li class="icon-phone">1-905-459-6663</li>
                  <li class="icon-clock">7:30am - 9:00pm </li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet sodales lorem sed lacinia. Nullam sodales eros augue, eu accumsan nunc placerat et. Sed et porta leo. Fusce risus turpis, mattis et tellus vitae, euismod eleifend eros. In bibendum nunc ac justo venenatis, placerat vulputate mauris feugiat. Nunc cursus lectus ut imperdiet tincidunt.</p>
                <div class="buttons">
                  <input class="button" type="submit" value="Finish"/><a class="button" href="#">Back</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
